<%= form_for [@tour, @high_light], html: { multipart: true } do |f| %>
  <% if @high_light.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@high_light.errors.count, "error") %> prohibited this high_light from being saved:</h2>

      <ul>
      <% @high_light.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, as: :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
