<% content_for :stylesheets do %>
  <%= stylesheet_link_tag '/unify/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/unify/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<%= form_for [@tour, @high_light], html: { multipart: true, class: "sky-form" } do |f| %>
  <% if @high_light.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@high_light.errors.count, "error") %> prohibited this high_light from being saved:</h2>

      <ul>
      <% @high_light.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <section>
      <%= f.label :name, "名称", class: "label" %>
      <label class="input">
        <%= f.text_field :name %>
      </label>
    </section>

    <section>
      <%= f.label :image, "图片", class: "label" %>
      <label for="file" class="input input-file">
        <div class="button"><%= f.file_field :image, as: :file %>选择文件</div><input type="text" readonly="">
      </label>
    </section>
  
  </fieldset>

  <footer>
    <button type="submit" class="btn-u">提交</button>
    <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">Back</button>
  </footer>
<% end %>
