<div class="container container-sm">
  <div class="tag-box tag-box-v3 margin-bottom-40">
    <h2>团队名称</h2>
    <p><%= @slide.tour.name %></p>
  </div>
  
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @slide.name %>
  </p>

  <p>
    <strong>Tour:</strong>
    <%= @slide.tour_id %>
  </p>

  <p>
    <%= image_tag @slide.image.url %>
  </p>
  <%= link_to 'Edit', edit_slide_path(@slide) %> |
  <%= link_to 'Back', tour_slides_path(@slide.tour) %>
</div>