<div class="sys-masthead">
  <a href="#" class="sys-masthead-logo">
    <%= image_tag "huang/logo.png" %>
  </a>
</div>

<div class="fw-slider owl-carousel owl-theme margin-bottom-10">
  <div class="item">
    <%= image_tag "huang/index/slide_2.jpg", alt: "" %>
  </div>
  <div class="item">
    <%= image_tag "huang/index/slide_1.jpg", alt: "" %>
  </div>
  <div class="item">
    <%= image_tag "huang/index/slide_3.jpg", alt: "" %>
  </div>
</div>

<div class="sys-container">
  <%= image_tag "huang/index/ad_1.jpg", alt: "" %>

  <table class="feature_table">
    <tbody>
      <tr>
        <td>
          <a href="#" class="item">
            <%= image_tag "huang/index/link_icon_5.png" %>
            <p>日本出境游</p>
          </a>
        </td>
        <td>
          <a href="#" class="item">
            <%= image_tag "huang/index/link_icon_2.png" %>
            <p>各国签证</p>
          </a>
        </td>
        <td>
          <a href="#" class="item">
            <%= image_tag "huang/index/link_icon_7.png" %>
            <p>泰国出境游</p>
          </a>
        </td>
        <td>
          <a href="#" class="item">
            <%= image_tag "huang/index/link_icon_4.png" %>
            <p>新马出境游</p>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#" class="item">
            <%= image_tag "huang/index/link_icon_3.png" %>
            <p>季节限定</p>
          </a>
        </td>
        <td>
          <a href="#" class="item">
            <%= image_tag "huang/index/link_icon_6.png" %>
            <p>自由行</p>
          </a>
        </td>
        <td>
          <a href="#" class="item">
            <%= image_tag "huang/index/link_icon_1.png" %>
            <p>出团攻略</p>
          </a>
        </td>
        <td>
          <a href="#" class="item">
            <%= image_tag "huang/index/link_icon_8.png" %>
            <p>目的地指南</p>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="grey_bg tour_list">
  <div class="heading heading-v1">
    <h2>当季热销产品</h2>
  </div>

  <div class="container margin-bottom-10">

    <% @tours.each do |tour| %>
    <div class="index_tour_item">
      <div class="hd"><span class="price"><em>￥<%= tour.start_price %> </em>起</span>
        <%= link_to wechat_tour_path tour do %>
          <div class="title"><%= tour.cover_title.html_safe %></div>
        <% end %>
      </div>
      <div class="bd">
        <div class="pic">
          <%= link_to wechat_tour_path tour do %>
            <%= image_tag tour.cover_image_large.url %>
          <% end %>
          <i class="icon-a-list-intro"></i>
          <i class="icon-a-list-pic-cover"></i>

          <div class="info">
            <div class="txt count"><%= tour.cover_info.html_safe %></div>
          </div>
        </div>
        <ul class="fn-list">
          <li>
            <%= link_to wechat_tour_path tour do %>
              <%= image_tag tour.cover_image_small_a.url %>
            <% end %>
          </li>
          <li>
            <%= link_to wechat_tour_path tour do %>
              <%= image_tag tour.cover_image_small_b.url %>
            <% end %>
          </li>
          <li>
            <%= link_to wechat_tour_path tour do %>
              <%= image_tag tour.cover_image_small_c.url %>
            <% end %>
          </li>
          <li>
            <%= link_to wechat_tour_path tour do %>
              <%= image_tag tour.cover_image_small_d.url %>
            <% end %>
          </li>
        </ul>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>

<div class="sys-container">
  <div class="heading heading-v4 footer-heading">
    <h2>新浪旅游 2008-2015</h2>
  </div>
</div>