<div class="sys-masthead">
  <a href="#" class="sys-masthead-logo">
    <%= image_tag "/img/huang/logo.png" %>
  </a>
</div>

<div class="fw-slider owl-carousel owl-theme margin-bottom-10">
  <div class="item">
    <img src="/img/sydney-1.jpg" alt="The Last of us">
  </div>
  <div class="item">
    <img src="/img/rotorua-1.jpg" alt="GTA V">
  </div>
  <div class="item">
    <img src="/img/hobbiton-1.jpg" alt="Mirror Edge">
  </div>
  <div class="item">
    <img src="/img/apostles-1.jpg" alt="Mirror Edge">
  </div>
</div>

<div class="sys-container">
  <%= image_tag "http://f4.sjbly.cn/y15/1210/1057/00djw_o.jpg" %>

  <table class="feature_table">
    <tbody>
      <tr>
        <td>
          <a href="#" class="item">
            <%= image_tag "/img/r1.jpg", style: "width: 48px; height: 48px" %>
            <p>标题1</p>
          </a>
        </td>
        <td>
          <a href="#" class="item">
            <%= image_tag "/img/r1.jpg", style: "width: 48px; height: 48px" %>
            <p>标题2</p>
          </a>
        </td>
        <td>
          <a href="#" class="item">
            <%= image_tag "/img/r1.jpg", style: "width: 48px; height: 48px" %>
            <p>标题3</p>
          </a>
        </td>
        <td>
          <a href="#" class="item">
            <%= image_tag "/img/r1.jpg", style: "width: 48px; height: 48px" %>
            <p>标题4</p>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#" class="item">
            <%= image_tag "/img/r1.jpg", style: "width: 48px; height: 48px" %>
            <p>标题1</p>
          </a>
        </td>
        <td>
          <a href="#" class="item">
            <%= image_tag "/img/r1.jpg", style: "width: 48px; height: 48px" %>
            <p>标题2</p>
          </a>
        </td>
        <td>
          <a href="#" class="item">
            <%= image_tag "/img/r1.jpg", style: "width: 48px; height: 48px" %>
            <p>标题3</p>
          </a>
        </td>
        <td>
          <a href="#" class="item">
            <%= image_tag "/img/r1.jpg", style: "width: 48px; height: 48px" %>
            <p>标题4</p>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="grey_bg tour_list">
  <div class="heading heading-v1">
    <h2>当季热销产品</h2>
  </div>

  <div class="container margin-bottom-10">
    <div class="index_tour_item">
      <div class="hd"><span class="price"><em>￥20999 </em>起</span>
        <a href="/super/1696/">
          <div class="title">醉美新西兰南岛奇遇 <br><em>9日</em>深度自驾旅行
          </div>
        </a>
      </div>
      <div class="bd">
        <div class="pic"><a href="/super/1696/"><img data-src="http://f5.sjbly.cn/m15/1116/1010/00vhf_750x500_fem.jpg" src="http://f5.sjbly.cn/m15/1116/1010/00vhf_750x500_fem.jpg" class="lazy-loaded"></a>
          <i class="icon-a-list-intro"></i>
          <i class="icon-a-list-pic-cover"></i>

          <div class="info">
            <div class="txt count"><em>27</em>项深度体验</div>
          </div>
        </div>
        <ul class="fn-list">
          <li>
            <a href="/super/1696/"><img data-src="http://f2.sjbly.cn/m14/0227/1816/7570joc_800x533_fs.jpg" src="http://f2.sjbly.cn/m14/0227/1816/7570joc_800x533_fs.jpg" class="lazy-loaded"></a>
          </li>
          <li>
            <a href="/super/1696/"><img data-src="http://f2.sjbly.cn/m14/0228/1000/yuegengsno_570x380_fs.jpg" src="http://f2.sjbly.cn/m14/0228/1000/yuegengsno_570x380_fs.jpg" class="lazy-loaded"></a>
          </li>
          <li>
            <a href="/super/1696/"><img data-src="http://f2.sjbly.cn/m14/0214/1441/7570jfp_900x480_fs.jpg" src="http://f2.sjbly.cn/m14/0214/1441/7570jfp_900x480_fs.jpg" class="lazy-loaded"></a>
          </li>
          <li>
            <a href="/super/1696/"><img data-src="http://f2.sjbly.cn/m14/0214/1441/7570jfp_900x480_fs.jpg" src="http://f2.sjbly.cn/m14/0214/1441/7570jfp_900x480_fs.jpg" class="lazy-loaded"></a>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sys-container">
  <div class="heading heading-v4 footer-heading">
    <h2>新浪旅游 2008-2015</h2>
  </div>
</div>