<% content_for :script do %>
<script>
  var use_wx_js_api = true;
  wx.config({
    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: '<%= Rails.application.secrets.appid %>', // 必填，公众号的唯一标识
    timestamp: '<%= @wx_signature[:timestamp] %>', // 必填，生成签名的时间戳
    nonceStr: '<%= @wx_signature[:noncestr] %>', // 必填，生成签名的随机串
    signature: '<%= @wx_signature[:signature] %>',// 必填，签名，见附录1
    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
  });

  wx.ready(function(){
    wx.onMenuShareTimeline({
      title: '新浪旅游', // 分享标题
      link: '<%= wechat_tours_url %>', // 分享链接
      imgUrl: '<%= image_url "huang/square_logo.png" %>', // 分享图标
      success: function () {
        //alert("share timeline success");
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        //alert("share timeline fail");
        // 用户取消分享后执行的回调函数
      }
    });
    
    wx.onMenuShareAppMessage({
      title: '新浪旅游', // 分享标题
      desc: '欢迎访问新浪旅游', // 分享描述
      link: '<%= wechat_tours_url %>', // 分享链接
      imgUrl: '<%= image_url "huang/square_logo.png" %>', // 分享图标
      type: 'link', // 分享类型,music、video或link，不填默认为link
      //dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
      success: function () { 
        //alert("share contact success");
        // 用户确认分享后执行的回调函数
      },
      cancel: function () { 
        //alert("share contact success");
        // 用户取消分享后执行的回调函数
      }
    });
  });

  wx.error(function(res){
    use_wx_js_api = false;
    console.log("error: cannot load wx api script");
  });
</script>
<% end %>
<div class="sys-masthead">
  <a href="#" class="sys-masthead-logo">
    <%= image_tag "huang/logo.png" %>
  </a>
</div>

<div class="fw-slider owl-carousel owl-theme margin-bottom-10">
  <% @main_slides.each do |main_slide| %>
  <div class="item">
    <%= image_tag main_slide.image.url(:medium) , alt: "" %>
  </div>
  <% end %>
</div>

<div class="sys-container">
  <%= image_tag "huang/index/ad_1.jpg", alt: "" %>

  <table class="feature_table">
    <tbody>
      <tr>
        <td>
          <% if @tour_categories[0].present? %>
            <%= link_to wechat_tours_path(tour_category_id: @tour_categories[0].id), class: "item" do %>
              <%= image_tag @tour_categories[0].icon.url %>
              <p><%= @tour_categories[0].name %></p>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if @tour_categories[1].present? %>
            <%= link_to wechat_tours_path(tour_category_id: @tour_categories[1].id), class: "item" do %>
              <%= image_tag @tour_categories[1].icon.url %>
              <p><%= @tour_categories[1].name %></p>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if @tour_categories[2].present? %>
            <%= link_to wechat_tours_path(tour_category_id: @tour_categories[2].id), class: "item" do %>
              <%= image_tag @tour_categories[2].icon.url %>
              <p><%= @tour_categories[2].name %></p>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if @tour_categories[3].present? %>
            <%= link_to wechat_tours_path(tour_category_id: @tour_categories[3].id), class: "item" do %>
              <%= image_tag @tour_categories[3].icon.url %>
              <p><%= @tour_categories[3].name %></p>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <% if @tour_categories[4].present? %>
            <%= link_to wechat_tours_path(tour_category_id: @tour_categories[4].id), class: "item" do %>
              <%= image_tag @tour_categories[4].icon.url %>
              <p><%= @tour_categories[4].name %></p>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if @tour_categories[5].present? %>
            <%= link_to wechat_tours_path(tour_category_id: @tour_categories[5].id), class: "item" do %>
              <%= image_tag @tour_categories[5].icon.url %>
              <p><%= @tour_categories[5].name %></p>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if @tour_categories[6].present? %>
            <%= link_to wechat_tours_path(tour_category_id: @tour_categories[6].id), class: "item" do %>
              <%= image_tag @tour_categories[6].icon.url %>
              <p><%= @tour_categories[6].name %></p>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if @tour_categories[7].present? %>
            <%= link_to wechat_tours_path(tour_category_id: @tour_categories[7].id), class: "item" do %>
              <%= image_tag @tour_categories[7].icon.url %>
              <p><%= @tour_categories[7].name %></p>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="grey_bg tour_list">
  <br>
  <div class="heading heading-v4">
    <h2>
      <% if @tour_category.present? %>
        <%= @tour_category.name %>
      <% else %>
        所有热销产品
      <% end %>
    </h2>
  </div>

  <div class="container margin-bottom-10 mainContent">

    <% @tours.each do |tour| %>
    <div class="index_tour_item">
      <div class="hd"><span class="price"><em>￥<%= tour.start_price %> </em>起</span>
        <%= link_to wechat_tour_path tour do %>
          <div class="title"><%= tour.cover_title.html_safe %></div>
        <% end %>
      </div>
      <div class="bd">
        <div class="pic">
          <%= link_to wechat_tour_path tour do %>
            <img class="lazy" data-original="<%= tour.cover_image_large.url(:medium) %>">
            <%#= image_tag tour.cover_image_large.url %>
          <% end %>
          <i class="icon-a-list-intro"></i>
          <i class="icon-a-list-pic-cover"></i>

          <div class="info">
            <div class="txt count"><%= tour.cover_info.html_safe %></div>
          </div>
        </div>
        <ul class="fn-list">
          <li>
            <%= link_to wechat_tour_path tour do %>
              <img class="lazy" data-original="<%= tour.cover_image_small_a.url(:medium) %>">
              <%#= image_tag tour.cover_image_small_a.url %>
            <% end %>
          </li>
          <li>
            <%= link_to wechat_tour_path tour do %>
              <img class="lazy" data-original="<%= tour.cover_image_small_b.url(:medium) %>">
              <%#= image_tag tour.cover_image_small_b.url %>
            <% end %>
          </li>
          <li>
            <%= link_to wechat_tour_path tour do %>
              <img class="lazy" data-original="<%= tour.cover_image_small_c.url(:medium) %>">
              <%#= image_tag tour.cover_image_small_c.url %>
            <% end %>
          </li>
          <li>
            <%= link_to wechat_tour_path tour do %>
              <img class="lazy" data-original="<%= tour.cover_image_small_d.url(:medium) %>">
              <%#= image_tag tour.cover_image_small_d.url %>
            <% end %>
          </li>
        </ul>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>

<div class="mainContent sys-container">
  <div class="heading heading-v4 footer-heading">
    <h2>新浪旅游 2008-2015</h2>
  </div>
</div>