<% if true %>
<% content_for :script do %>
<script>
  var use_wx_js_api = true;
  wx.config({
    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: '<%= Rails.application.secrets.appid %>', // 必填，公众号的唯一标识
    timestamp: '<%= @wx_signature[:timestamp] %>', // 必填，生成签名的时间戳
    nonceStr: '<%= @wx_signature[:noncestr] %>', // 必填，生成签名的随机串
    signature: '<%= @wx_signature[:signature] %>',// 必填，签名，见附录1
    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
  });

  wx.ready(function(){
    wx.onMenuShareTimeline({
      title: '<%= @tour.name %>', // 分享标题
      link: '<%= wechat_tour_url @tour %>', // 分享链接
      imgUrl: '<%= URI(request.url) + @tour.cover_image_large.url %>', // 分享图标
      success: function () {
        //alert("share timeline success");
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        //alert("share timeline fail");
        // 用户取消分享后执行的回调函数
      }
    });
    
    wx.onMenuShareAppMessage({
      title: '<%= @tour.name %>', // 分享标题
      desc: '<%= @tour.slider_subtitle %>', // 分享描述
      link: '<%= wechat_tour_url @tour %>', // 分享链接
      imgUrl: '<%= URI(request.url) + @tour.cover_image_large.url %>', // 分享图标
      type: 'link', // 分享类型,music、video或link，不填默认为link
      //dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
      success: function () { 
        //alert("share contact success");
        // 用户确认分享后执行的回调函数
      },
      cancel: function () { 
        //alert("share contact success");
        // 用户取消分享后执行的回调函数
      }
    });
  });

  wx.error(function(res){
    use_wx_js_api = false;
    console.log("error: cannot load wx api script");
  });
</script>
<% end %>
<% end %>


<div class="sys-masthead">
  <%= link_to wechat_tours_path, class: "sys-masthead-logo" do %>
    <%= image_tag "huang/logo.png" %>
  <% end %>
</div>



<div class="tp-banner-container">
  <div class="tp-banner">
    <ul>
      <% @tour.slides.each do |slide| %>
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="mainSlide">
        <!-- MAIN IMAGE -->
        <%= image_tag slide.image.url, alt: "darkblurbg", :"data-bgfit" => "cover", :"data-bgposition" => "left top", :"data-bgrepeat" => "no-repeat" %>

        <div class="tp-caption revolution-ch1_c sft start"
        data-x="center"
        data-hoffset="0"
        data-y="230"
        data-speed="1500"
        data-start="500"
        data-easing="Back.easeInOut"
        data-endeasing="Power1.easeIn"
        data-endspeed="300">
        <%= @tour.name.html_safe  unless @tour.name.nil? %>
        </div>

        <!-- LAYER -->
        <div class="tp-caption revolution-ch2_c sft"
        data-x="center"
        data-hoffset="0"
        data-y="350"
        data-speed="1400"
        data-start="2000"
        data-easing="Power4.easeOut"
        data-endspeed="300"
        data-endeasing="Power1.easeIn"
        data-captionhidden="off"
        style="z-index: 6">
        <%= @tour.slider_subtitle.html_safe unless @tour.slider_subtitle.nil? %>
        </div>

        <!-- LAYER -->
        <!-- <div class="tp-caption sft"
        data-x="center"
        data-hoffset="0"
        data-y="310"
        data-speed="1600"
        data-start="2800"
        data-easing="Power4.easeOut"
        data-endspeed="300"
        data-endeasing="Power1.easeIn"
        data-captionhidden="off"
        style="z-index: 6">
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">点我电询</a>
        </div> -->
      </li>
      <% end %>

    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>
<div style="width: 100%">
  <%= image_tag "/img/huang/t1-ad-1.jpg", style: "width: 100%; margin: 10px 0 20px 0" %>
</div>
<div class="no-padding">
  <div class="container">
    <%= @tour.features.html_safe unless @tour.features.nil? %>
  </div>

  <div class="container huang_features_2">
    <% @tour.high_lights.each do |high_light| %>
      <div class="col-xs-6">
        <%= image_tag high_light.image.url %>
      </div>
    <% end %>
  </div>

</div>

<div class="container margin-bottom-10">
  <div class="headline"><h3>行程地图</h3></div>
  <%= image_tag @tour.tour_map.url(:standard), style: "width:100%" %>
</div>

<div class="container tab-content margin-bottom-10">
  <% @routes.each do |route| %>
    <div class="tab-pane fade in <% if route == @routes.first %>active<% end %> route_<%= route.id %>">
      <div id="itinery_slider_<%= route.id %>" class="owl-carousel owl-theme itinery_slider">
        <% route.days.each do |day| %>
          <div class="item" id="day_<%= day.id %>">
            <%= image_tag day.icon.url(:thumb) %>
            <h4>第<%= day.number %>天</h4>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="tab-v1 huang_price">
    <ul class="nav nav-tabs">
      <% @routes.each do |route| %>
        <li class="<% if route == @routes.first %>active<% end %> " >
          <a href=".route_<%= route.id %>" data-toggle="tab"><%= route.name %><br><em><%= route.start_price %>元起</em></a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% @routes.each do |route| %>
        <div class="tab-pane fade in <% if route == @routes.first %>active<% end %>  route_<%= route.id %>">
          <%= route.descriptions.html_safe unless route.descriptions.nil? %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="tab-content">
    <% @routes.each do |route| %>
      <div class="tab-pane fade in <% if route == @routes.first %>active<% end %> route_<%= route.id %>">
        <div class="panel with-nav-tabs panel-success">
          <div class="panel-heading">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#cal_tab_<%= route.id %>_1" data-toggle="tab"><small><%= @this_month.strftime("%Y") %>年</small><br><%= @this_month.strftime("%-m") %>月</a>
              </li>
              <li>
                <a href="#cal_tab_<%= route.id %>_2" data-toggle="tab"><small><%= @next_month.strftime("%Y") %>年</small><br><%= @next_month.strftime("%-m") %>月</a>
              </li>
              <li>
                <a href="#cal_tab_<%= route.id %>_3" data-toggle="tab"><small><%= @next_next_month.strftime("%Y") %>年</small><br><%= @next_next_month.strftime("%-m") %>月</a>
              </li>
            </ul>
          </div>
          <div class="panel-body">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="cal_tab_<%= route.id %>_1">
                <div id="cal_<%= route.id %>_1" class="simple-calendar"></div>
              </div>
              <div class="tab-pane fade" id="cal_tab_<%= route.id %>_2">
                <div id="cal_<%= route.id %>_2" class="simple-calendar"></div>
              </div>
              <div class="tab-pane fade" id="cal_tab_<%= route.id %>_3">
                <div id="cal_<%= route.id %>_3" class="simple-calendar"></div>
              </div>      
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="tag-box tag-box-v3 margin-bottom-20 telephone">
    <h2>产品: <%= @tour.name %></h2>
    <a href="tel:15282317143" class="btn-u btn-u-orange" type="button">电话咨询</a>
  </div>
</div>



<div class="panel-group acc-v1 huang_accordion" id="accordion-1">
  <h3 class="according_heading">预定须知</h3>
  <%= @tour.terms.html_safe unless @tour.terms.nil? %>
</div>


<% content_for :script do %>
<script>
  function call_ajax(url){
    $.ajax({
      type: "GET",
      url: url,
      dataType: "script",
      beforeSend: function(data) {},
      success: function(data) {},
      error : function(request, status, error) {   
        alert(request.responseText);
      } 
    });
  }

  $(document).ready(function() {
 
    <% @routes.each do |route| %>
    
    var owl_<%= route.id %> = $("#itinery_slider_<%= route.id %>");
    owl_<%= route.id %>.owlCarousel({
   
      items : 8, //10 items above 1000px browser width
      itemsDesktop : [1000,7], //5 items between 1000px and 901px
      itemsDesktopSmall : [900,6], // betweem 900px and 601px
      itemsTablet: [600,4], //2 items between 600 and 0
      itemsMobile : 4, // itemsMobile disabled - inherit from itemsTablet option
      navigation: false,
      pagination: false

    });
      
      <% route.days.each do |day| %>
        $('#day_<%= day.id %>').on('click', function(event){
          call_ajax('<%= wechat_day_path(day.id).html_safe %>');
        });
      <% end %>
      
      call_ajax('<%= wechat_route_departures_path(route, locale: "zh-CN", start_date: @this_month.strftime("%Y-%m-%d"), calendar_id: "cal_#{route.id}_1" ).html_safe %>');
      call_ajax('<%= wechat_route_departures_path(route, locale: "zh-CN", start_date: @next_month.strftime("%Y-%m-%d"), calendar_id: "cal_#{route.id}_2" ).html_safe %>');
      call_ajax('<%= wechat_route_departures_path(route, locale: "zh-CN", start_date: @next_next_month.strftime("%Y-%m-%d"), calendar_id: "cal_#{route.id}_3" ).html_safe %>');
    <% end %>
    
 
  });
</script>
<% end %>

<% content_for :modals do %>
<div id="modal_day_detail" class="modal fade modal_itinery">
  <div class="modal-dialog"></div>
</div>
<% end %>