<% content_for :stylesheets do %>
  <%= stylesheet_link_tag '/unify/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/unify/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<%= form_for [@route, @departure], html: { multipart: true, class: "sky-form" } do |f| %>
  <% if @departure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@departure.errors.count, "error") %> prohibited this departure from being saved:</h2>

      <ul>
      <% @departure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <section>
      <%= f.label :seats, "座位数", class: "label" %>
      <label class="input">
        <%= f.number_field :seats %>
      </label>
    </section>

    <section>
      <%= f.label :price, "价格/人", class: "label" %>
      <label class="input">
        <%= f.number_field :price %>
      </label>
    </section>

    <section>
      <%= f.label :start_time, "出发日期", class: "label" %>
      <label class="input">
        <%= f.date_select :start_time %>
      </label>
    </section>    
  </fieldset>

  <footer>
    <button type="submit" class="btn-u">提交</button>
    <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">Back</button>
  </footer>



<% end %>
