<%= form_for @tour, html: { multipart: true } do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tour_map %><br>
    <%= f.file_field :tour_map %>
  </div>
  <div class="field">
    <%= f.label :features %><br>
    <%= f.text_area :features, rows: 10 %>
  </div>
  <div class="field">
    <%= f.label :terms %><br>
    <%= f.text_area :terms, rows: 10 %>
  </div>
  <div class="field">
    <%= f.label :slider_subtitle %><br>
    <%= f.text_field :slider_subtitle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
