<div class="sys-masthead">
  <a href="#" class="sys-masthead-logo">
    <%= image_tag "/img/huang/logo.png" %>
  </a>
</div>



<div class="tp-banner-container">
  <div class="tp-banner">
    <ul>
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="mainSlide">
        <!-- MAIN IMAGE -->
        <img src="/img/japan/s1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

        <div class="tp-caption revolution-ch1_c sft start"
        data-x="center"
        data-hoffset="0"
        data-y="230"
        data-speed="1500"
        data-start="500"
        data-easing="Back.easeInOut"
        data-endeasing="Power1.easeIn"
        data-endspeed="300">
        盛唐遗风私汤东阪7日旅行
      </div>

      <!-- LAYER -->
      <div class="tp-caption revolution-ch2_c sft"
      data-x="center"
      data-hoffset="0"
      data-y="350"
      data-speed="1400"
      data-start="2000"
      data-easing="Power4.easeOut"
      data-endspeed="300"
      data-endeasing="Power1.easeIn"
      data-captionhidden="off"
      style="z-index: 6">
      双古都 / 三和食 / 四遗产 <br/>
      熊野名泉 私汤!
    </div>

    <!-- LAYER -->
        <!-- <div class="tp-caption sft"
        data-x="center"
        data-hoffset="0"
        data-y="310"
        data-speed="1600"
        data-start="2800"
        data-easing="Power4.easeOut"
        data-endspeed="300"
        data-endeasing="Power1.easeIn"
        data-captionhidden="off"
        style="z-index: 6">
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">点我电询</a>
        </div> -->
      </li>

    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>
<div style="width: 100%">
  <%= image_tag "huang/sample.gif", style: "width: 100%; margin: 10px 0 20px 0" %>
</div>
<div class="no-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 content-boxes-v3 content-boxes-v3-right">
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">1</span> 春秋航空直飞
          </p>
        </div>
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">2</span> 去回白天航班
          </p>
        </div>
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">3</span> 一晚温泉酒店
          </p>
        </div>
      </div>

      <div class="col-xs-6 content-boxes-v3">
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">4</span> 全程0自费
          </p>
        </div>
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">5</span> 住宿四花酒店
          </p>
        </div>
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">6</span> 经典精选景点
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container huang_features">
    <div class="row">
      <div class="col-xs-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <%= image_tag "/img/huang/f1.jpg", class: "img-responsive" %>
            </div>
            <a class="btn-more hover-effect" href="#">大阪 Osaka</a>
          </div>
          <div class="caption">
            <h3><a class="hover-effect" href="#">入住豪华酒店</a></h3>
            <p>东京入住传说中的巨蛋酒店和贾斯丁豪华酒店</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <%= image_tag "/img/huang/f2.jpg", class: "img-responsive" %>
            </div>
            <a class="btn-more hover-effect" href="#">京都 Kyoto</a>
          </div>
          <div class="caption">
            <h3><a class="hover-effect" href="#">正宗和风料理</a></h3>
            <p>送河豚料理、汤豆腐火锅、松阪牛飱享东瀛美食</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <%= image_tag "/img/huang/f3.jpg", class: "img-responsive" %>
            </div>
            <a class="btn-more hover-effect" href="#">东京 Tokyo</a>
          </div>
          <div class="caption">
            <h3><a class="hover-effect" href="#">池之平温泉</a></h3>
            <p>在日本风格房间内享用温泉餐和私密私人温泉</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <%= image_tag "/img/huang/f4.jpg", class: "img-responsive" %>
            </div>
            <a class="btn-more hover-effect" href="#">东京 Tokyo</a>
          </div>
          <div class="caption">
            <h3><a class="hover-effect" href="#">季之座温泉</a></h3>
            <p>特别送季之座千年温泉尊贵体验</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container margin-bottom-10">
  <div class="headline"><h3>行程地图</h3></div>
  <%= image_tag "/img/huang/map2.jpg", style: "width:100%" %>
</div>

<div class="container margin-bottom-10">
  <div id="itinery_slider" class="owl-carousel owl-theme">
    <div class="item" id="slide_day_1">
      <%= image_tag "/img/japan/x1.jpg" %>
    </div>
    <div class="item" id="slide_day_2">
      <%= image_tag "/img/japan/x2.jpg" %>
    </div>
    <div class="item" id="slide_day_3">
      <%= image_tag "/img/japan/x3.jpg" %>
    </div>
    <div class="item" id="slide_day_4">
      <%= image_tag "/img/japan/x4.jpg" %>
    </div>
    <div class="item" id="slide_day_5">
      <%= image_tag "/img/japan/x5.jpg" %>
    </div>
    <div class="item" id="slide_day_6">
      <%= image_tag "/img/japan/x6.jpg" %>
    </div>
    <div class="item" id="slide_day_7">
      <%= image_tag "/img/japan/x7.jpg" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="tab-v1 huang_price">
    <ul class="nav nav-tabs" style="background-color: #eee; padding-top: 0px">
      <li class="active" >
        <a href="#home" data-toggle="tab" style="font-size: 16px;padding: 10px 20px 10px 20px;margin-left:60px">六日行程<br><em>4444元/人</em></a>
      </li>
      <li>
        <a href="#profile" data-toggle="tab" style="font-size: 16px;padding: 10px 20px 10px 20px">七日行程<br><em>5400元/人</em></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="home">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-plane"></span><br>
                机票
              </td>
              <td class="price_info">
                <ul>
                  <li>中国 / 日本往返国际机票团队经济舱费用，含机场建设税。<small>* 直飞口岸城市：仅成都，其他城市客人请电询联运价格。</small></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-home"></span><br>
                酒店
              </td>
              <td>
                <div class="headline"><h4>温泉酒店</h4></div>
                <ul>
                  <li>滨名湖·<span class="color-orange">皇家温泉</span>酒店或同级</li>
                </ul>
                <div class="headline"><h4>精品酒店</h4></div>
                <ul>
                  <li>成田丽笙酒店或同级</li>
                  <li>东京椿山庄酒店或同级</li>
                  <li>京都威斯汀酒店 或同级</li>
                  <li>阪奈酒店或同级</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-flag"></span><br>
                光观
              </td>
              <td>
                <ul>
                  <li><span class="label label-sea">D1</span> 东京</li>
                  <li><span class="label label-sea">D2</span> 皇居 浅草 仲见世 台场 银座</li>
                  <li><span class="label label-sea">D3</span> 平和公园 忍野八海 富士山五合目</li>
                  <li><span class="label label-sea">D4</span> 金阁寺 清水寺 祗园</li>
                  <li><span class="label label-sea">D5</span> 春日大社 大阪城 心斋桥</li>
                  <li><span class="label label-sea">D6</span> 大阪临空奥特莱斯</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-user-following"></span><br>
                签证
              </td>
              <td>
                <ul>
                  <li>日本<span class="color-orange">ADS</span>团签（成都送签</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-support"></span><br>
                保险
              </td>
              <td>
                <ul>
                  <li>游客（出境游）人身以外保险</li>
                  <li>旅行社责任险</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-feed"></span><br>
                装备
              </td>
              <td>无</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade in" id="profile">

        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-plane"></span><br>
                机票
              </td>
              <td class="price_info">
                中国 / 日本往返国际机票团队经济舱费用，含机场建设税。
                <br>
                * 直飞口岸城市：仅成都，其他城市客人请电询联运价格。
              </td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-home"></span><br>
                酒店
              </td>
              <td>
                <div class="headline"><h4>温泉酒店 <small>双温泉</small></h4></div>
                <ul>
                  <li>白桦湖·池之平温泉酒店或同级</li>
                  <li>三重·季之座温泉酒店或同级</li>
                </ul>
                <div class="headline"><h4>精品酒店</h4></div>
                <ul>
                  <li>东京日航成田酒店或同级</li>
                  <li>东京巨蛋酒店或同级</li>
                  <li>岐阜都酒店或同级</li>
                  <li>京都威斯汀酒店或同级</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-flag"></span><br>
                光观
              </td>
              <td>
                <ul>
                  <li><span class="label label-sea">D1</span> 东京</li>
                  <li><span class="label label-sea">D2</span> 皇居 浅草 仲见世 台场 银座</li>
                  <li><span class="label label-sea">D3</span> 忍野八海 富士山五合目</li>
                  <li><span class="label label-sea">D4</span> 诹访湖 高山阵屋 白川乡合掌村</li>
                  <li><span class="label label-sea">D5</span> 夫妇岩 伊势神宫 托福横丁</li>
                  <li><span class="label label-sea">D6</span> 春日大社 大阪城 心斋桥</li>
                  <li><span class="label label-sea">D7</span> 清水寺 祗园 平安神宫</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-user-following"></span><br>
                签证
              </td>
              <td>日本<span class="color-orange">ADS</span>团签（成都送签）</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-support"></span><br>
                保险
              </td>
              <td>
                <ul>
                  <li>游客（出境游）人身以外保险</li>
                  <li>旅行社责任险</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-feed"></span><br>
                装备
              </td>
              <td>无</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel with-nav-tabs panel-success">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-2015-12" data-toggle="tab"><small>2015年</small><br>12月</a></li>
        <li><a href="#tab-2016-1" data-toggle="tab"><small>2016年</small><br>1月</a></li>
        <li><a href="#tab-2016-2" data-toggle="tab"><small>2016年</small><br>2月</a></li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab-2015-12">
          <div id="cal-2015-12" class="simple-calendar"></div>
        </div>
        <div class="tab-pane fade" id="tab-2016-1">
          <div id="cal-2016-1" class="simple-calendar"></div>
        </div>
        <div class="tab-pane fade" id="tab-2016-2">
          <div id="cal-2016-2" class="simple-calendar"></div>
        </div>      
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="tag-box tag-box-v3 margin-bottom-20 telephone">
    <h2>产品: 浪漫日本本州6日</h2>
    <a href="tel:5551234567" class="btn-u btn-u-orange" type="button">电话咨询</a>
  </div>
</div>



<div class="panel-group acc-v1 huang_accordion" id="accordion-1">
  <h3 class="according_heading">预定须知</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
          项目包含
        </a>
      </h4>
    </div>
    <div id="collapse-One" class="panel-collapse collapse in">
      <div class="panel-body">
        <ol>
          <li>中国 / 日本往返国际机票团队经济舱费用，含机场建设税；</li>
          <li>行程所示酒店标准双人间，温泉酒店二人间；</li>
          <li>当地司导及领队服务费，（根据实际收客人数，适当调整车型）；</li>
          <li>行程内所列用餐；行程中所列景点门票；</li>
          <li>ADS团队旅游签证费用；</li>
          <li>旅游人身意外伤害保险；</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
          项目不含
        </a>
      </h4>
    </div>
    <div id="collapse-Two" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>护照费用，洗衣，理发，电话，饮料，烟酒，付费电视，行李搬运等境外个人消费费用；</li>
          <li>旅游者因违约、自身过错、自由活动期间内行为或自身疾病引起的人身和财产损失；</li>
          <li>单房差 ，单人利用双标间费用；</li>
          <li>服务包含项目未提到的其它一切费用。</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
          签证资料
        </a>
      </h4>
    </div>
    <div id="collapse-Three" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>有效期半年以上因私护照（护照末页本人签字）</li>  
          <li>在职证明及公司营业执照副本复印件（加盖公章）</li>
          <li>学生提供学生证复印件或学校的准假信，退休老人提供退休证复印件</li>
          <li>二寸彩照两张（白色背景）</li>              
          <li>签证申请表</li>
          <li>本人身份证及全家户口本复印件 </li> 
          <li>提供房产、车产、存款证明等其他相关资产证明复印件 ，存款证明需原件（不退还）。</li>
          <li>外领区人员必须是在本领区工作生活才可送签，需提供暂住证原件。</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
          服务说明
        </a>
      </h4>
    </div>
    <div id="collapse-Four" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>行程说明：</li>
          <ol>
            <li>本社有权根据景点关门时间或当地交通状况调整行程游览先后顺序；</li>
            <li>以上行程为参考行程， 最终行程以出团通知中的确认行程为准；</li>
            <li>行程中所列航班时间均为当地时间，日本同北京时间时差为一小时，日本同北京时间时差为一小时，日本上午九点，则北京为上午八点。 </li>
          </ol>

          <li>酒店标准</li>
          <ol>
            <li>行程中所列酒店星级标准为参考业内酒店评定标准，日本国内酒店不分星级；</li>
            <li>日本的五星级酒店大堂和房间面积相比国内同级酒店较小，双人间一般22--28平米；</li>
            <li>日本的酒店单人间一般为一张单人床，单房差是指用一个单人间产生的差价而非双间单人利用的差价；</li>
            <li>依照旅游业现行作业规定，我社有权依据最终出团人数情况，调整房间分房情况；</li>
          </ol>

          <li>购物说明</li>
          <ol>
            <li>行程规定的景点、餐厅，长途中途休息站等这类购物店或游客在自行前往的购物店所购商品出现问题，旅行社不承担任何责任。</li>
          </ol>

          <li>退费说明</li>

          <ol>
            <li>如遇天气、战争、罢工、地震等人力不可抗力因素无法游览，我社将按照旅行社协议，退还未游览景点门票费用，但赠送项目费用不退；</li>
            <li>游客因个人原因临时自愿放弃游览，酒店住宿、餐、车等费用均不退还。</li>
          </ol>

          <li>保险说明</li>

          <ol>
            <li>我社所上境外旅游意外伤害保险，“中国太平洋保险旅游安全人身意外伤害保险”，此保险为我社代投保项目，游客所涉及到的任何保险问题请您直接与保险公司联系。（咨询及救援电话：400-650-5913 ）。</li>
            <li>旅游意外伤害险不包括游客自身携带疾病、旧病复发，且在出团日前180天内未经过治疗的疾病；（如心脏病复发、高血压、糖尿病并发症、移植手术复发、孕妇、精神病发作等等）。</li>
            <li>我社推荐客人根据自身情况额外补上医疗50万或70万的大额保险 。</li>
          </ol>

          <li>补费说明</li>

          <ol>
            <li>如遇航空公司政策性调整机票价格，请按规定补交差价。团队机票不得改签换人退票；</li>
            <li>如果旅游目的地国家政策性调整门票或其他相关价格，请按规定补交差价；</li>
          </ol>

          <li>其他说明</li>

          <ol>
            <li>我社处理游客意见，以游客交回的《团队质量反馈表》为依据，请您秉着公平、公正、实事求是的原则填写《团队质量反馈表》。</li>
          </ol>

        </ol>
      </div>
    </div>
  </div>
</div>



<% content_for :script do %>
<script>
  function load_calendar(start_date, dom_id){
    $.ajax({
      type:  "GET",
      url:   '/tour/calendar?locale=zh-CN&start_date='+start_date+'&calendar_id='+dom_id,
      dataType: "script",
      beforeSend: function(data) {
      },
      success: function(data) {
        
      },
      error : function(request, status, error) {   
        alert(request.responseText);
      } 
    });
  }

  $(document).ready(function() {
 
    var owl = $("#itinery_slider");
    owl.owlCarousel({
   
      items : 8, //10 items above 1000px browser width
      itemsDesktop : [1000,7], //5 items between 1000px and 901px
      itemsDesktopSmall : [900,6], // betweem 900px and 601px
      itemsTablet: [600,4], //2 items between 600 and 0
      itemsMobile : 4, // itemsMobile disabled - inherit from itemsTablet option
      navigation: false,
      pagination: false

    });
 
    $('#slide_day_1').on('click', function(event){
      $('#modal_day_1').modal('show');
    });
    $('#slide_day_2').on('click', function(event){
      $('#modal_day_2').modal('show');
    });
    $('#slide_day_3').on('click', function(event){
      $('#modal_day_3').modal('show');
    });
    $('#slide_day_4').on('click', function(event){
      $('#modal_day_4').modal('show');
    });
    $('#slide_day_5').on('click', function(event){
      $('#modal_day_5').modal('show');
    });
    $('#slide_day_6').on('click', function(event){
      $('#modal_day_6').modal('show');
    });
    $('#slide_day_7').on('click', function(event){
      $('#modal_day_7').modal('show');
    });

    load_calendar('2015-12-1', 'cal-2015-12');
    load_calendar('2016-1-1', 'cal-2016-1');
    load_calendar('2016-2-1', 'cal-2016-2');
 
  });
</script>
<% end %>
<% content_for :modals do %>

<div id="modal_day_1" class="modal fade modal_itinery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">第一天: 成都 - 东京成田</h4>
            </div>
            <div class="modal-body itinery_modal_body">
              <div class="headline"><h4>行程概述</h4></div>
              <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
              <p><span class="text-highlights text-highlights-blue">参考航班：CA459  （15:30-21:00）</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-u btn-u-lg btn-u-orange disabled" disabled="disabled">上一天</button>
                <button type="button" class="btn btn-u btn-u-lg btn-u-light-green" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-u btn-u-lg btn-u-orange" onclick="$('#modal_day_1').modal('hide');$('#modal_day_2').modal('show');">下一天</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="modal_day_2" class="modal fade modal_itinery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">第二天: 东京</h4>
            </div>
            <div class="modal-body itinery_modal_body">
              <div class="headline"><h4>行程概述</h4></div>
              <p>早餐后，乘车前往静谧美丽的<span class="color-blue">皇居广场</span>，在<span class="color-blue">二重桥</span>前拍照留念<span class="color-light-green">（不少于30分钟）</span>。接着前往<span class="color-blue">浅草雷门观音寺</span>祈福，<span class+'color-blue'>仲见世小商品街</span>观光<span class="color-light-green">（不少于50分钟）</span>。午后前往<span class="color-blue">东京新都心台场</span>，参观维纳斯城堡LAOX电器免税店自由购物（不少于60分钟），随后在世界三大繁华街之一的<span class="color-blue">银座大街</span>渡过悠闲的午后时光<span class="color-light-green">（不少于60分钟）</span>。<span class="color-red">（方便游玩本日晚餐自理）</span></p>
              <p>
                <strong>酒店:</strong>
                东京巨蛋酒店或同级
              </p>
              <p>
                <strong>用膳:</strong>
                <span class="badge rounded badge-aqua">早</span>
                <span class="badge rounded badge-u">中</span>
                <span class="badge rounded badge-dark">晚</span>
              </p>
              
              <div class="headline"><h4>景点</h4></div>

              <p><strong>皇居：</strong>历代天皇及其家人的住所。整个皇居周围有护城河环绕，分为皇居、外苑、东苑，以及北之丸公园等几个区域。皇居的大部分不开放参观，平时游人只能在皇宫外苑外的皇宫广场附近游览一番。整个皇居区域林木葱葱，满目苍翠，作为世界上人口密度最大的城市之一的东京，在城市中心区域保留这么大一片绿地，实在堪称为都市绿洲。</p>
              <p><strong>浅草寺仲见世街：</strong>浅草寺创建于628年，是东京都内最古老的寺院。入口处挂着写着“雷门”字样的巨大灯笼这里的象征。仲见世通是一条售卖各种土产礼品的商业街。约300米的路上，挤满了100多家店铺。</p>
              <p><strong>银座：</strong>世界三大繁华街之一，是东京最繁华的商业区，现代日本的代表坐标。大道两旁的百货公司和各类商店鳞次栉比，专门销售高级商品。后街有很多饭店、小吃店、酒吧、夜总会。</p>
              <p><strong>台场维纳斯城堡：</strong>“维纳斯城”是以中世纪的欧洲为模型所建造的主题乐园式商场。除了海外知名品牌外，还有东京发祥的流行品牌等，共约50家店铺。一层的老字号电器店LAOX贩卖最新的数码相机、手表、工艺品等种类繁多的各式商品。</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-u btn-u-lg btn-u-orange" onclick="$('#modal_day_2').modal('hide');$('#modal_day_1').modal('show',0);">上一天</button>
                <button type="button" class="btn btn-u btn-u-lg btn-u-light-green" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-u btn-u-lg btn-u-orange" onclick="$('#modal_day_2').modal('hide');$('#modal_day_3').modal('show');">下一天</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="modal_day_3" class="modal fade modal_itinery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">第三天: 东京 - 富士 - 箱根 - 白桦湖</h4>
            </div>
            <div class="modal-body itinery_modal_body">
              <div class="headline"><h4>行程概述</h4></div>
              <p>早餐后，乘车前往富士<span class="color-blue">箱根国立公园</span>游览。前往静谧美丽的<span class="color-blue">忍野八海</span><span class="color-light-green">（不少于30分钟）</span>远眺富士山，特别安排乘车登临<span class="color-blue">富士山五合目</span>，与日本神山零距离亲密接触（不少于50分钟）。午后，乘车前往长野。</p>
              <p>晚间，入住白桦湖区域温泉，品尝使用季节食材制作的温泉料理，餐后伴着山间的新鲜氧气尽情享受泡汤乐趣。<span class="color-red">温馨提示：如遇富士山封路或天气原因不能参观，则改为参观富士山资料馆，特此说明。</span></p>
              <p>
                <strong>酒店:</strong>
                白桦湖池之平温泉酒店 <span class="label rounded label-orange">私享温泉</span>
              </p>
              <p>
                <strong>用膳:</strong>
                <span class="badge rounded badge-aqua">早</span>
                <span class="badge rounded badge-u">中</span>
              </p>

              <div class="headline"><h4>景点</h4></div>
              <p><strong>忍野八海：</strong>这里错落有致地散布着八个清泉，水质清冽甘甜，被誉为“日本九寨沟”。</p>
              <p><strong>富士山：</strong>被日本人民誉为“圣岳”，是日本民族的象征。富士山由山脚到山顶分为十合，由山脚下出发到半山腰称为五合目，利用巴士可上到2305米的五合目，这里的景色一年四季随季节变化而不同，日出日落，气候变化，都会令富士山瞬间呈现不同的身影，千姿百态！</p>
              
              <div class="headline"><h4>美食</h4></div>
              <p><strong>温泉餐</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-u btn-u-lg btn-u-orange" onclick="$('#modal_day_3').modal('hide');$('#modal_day_2').modal('show',0);">上一天</button>
                <button type="button" class="btn btn-u btn-u-lg btn-u-light-green" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-u btn-u-lg btn-u-orange" onclick="$('#modal_day_3').modal('hide');$('#modal_day_4').modal('show');">下一天</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="modal_day_4" class="modal fade modal_itinery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">第四天: 白桦湖 - 诹访 - 高山 - 白川乡 - 岐阜</h4>
            </div>
            <div class="modal-body itinery_modal_body">
              <div class="headline"><h4>行程概述</h4></div>
              <p>早餐后，乘车前往高山地区，途中于<span class="color-blue">诹访湖</span>展望台眺望静谧湖水<span class="color-light-green">（不少于15分钟）</span>。</p>
              <p>午后，游览国家指定史迹<span class="color-blue">高山阵屋</span><span class="color-light-green">（不少于40分钟）</span>，随后前往世界文化遗产<span class="color-blue">白川乡合掌村</span>游览<span class="color-light-green">（不少于60分钟）</span>，感受独特村落景观。傍晚前往中部地区酒店入住。</p>
              <p>
                <strong>酒店:</strong>
                岐阜都酒店或同级
              </p>
              <p>
                <strong>用膳:</strong>
                <span class="badge rounded badge-aqua">早</span>
                <span class="badge rounded badge-u">中</span>
                <span class="badge rounded badge-dark">晚</span>
              </p>

              <div class="headline"><h4>景点</h4></div>
              <p><strong>诹访湖：</strong>位于长野县的中央，是湖面海拔 759 米，周长 16.2 公里的该县最大湖泊。</p>
              <p><strong>高山阵屋：</strong>始建年代为1615年，至今有400年悠久历史。原为高山城主金森氏的宅邸之一。金森氏左迁后，高山成为德川幕府的直辖地区，在此设置了办公机构，以管理飞弹地区的行政。这个办公场所被称为“高山阵屋”，官员们在此下达命令、通知以及办理纳贡事宜等。自明治时期起，这里相继被用为县政厅、郡政厅、政府分支机构等。在日本，地方政府的建筑物保留至今的，唯此一处。 </p>
              <p><strong>白川乡合掌村：</strong>白川乡位于岐阜县西北部白山山麓，是四面环山、水田纵横、河川流经的安静山村。那里“合掌造”（茅草的人字形木屋顶）式的民宅，110 多栋连成一片，1995 年被指定为联合国教科文组织的世界文化遗产。</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-u btn-u-lg btn-u-orange" onclick="$('#modal_day_4').modal('hide');$('#modal_day_3').modal('show',0);">上一天</button>
                <button type="button" class="btn btn-u btn-u-lg btn-u-light-green" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-u btn-u-lg btn-u-orange" onclick="$('#modal_day_4').modal('hide');$('#modal_day_5').modal('show');">下一天</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="modal_day_5" class="modal fade modal_itinery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">第五天: 岐阜 - 三重</h4>
            </div>
            <div class="modal-body itinery_modal_body">
              <div class="headline"><h4>行程概述</h4></div>
              <p>早餐后，前往三重伊势志摩半岛。游览海边著名景观<span class="color-blue">二见浦夫妇岩石</span><span class="color-light-green">（不少于30分钟）</span>，午餐享用著名的松阪牛肉烧烤，后前往参观传承2000年历史的日本国宝<span class="color-blue">伊势神宫</span><span class="color-light-green">（不少于40分钟）</span>，漫步遍布日式小店和美食小吃的<span class="color-blue">托福横丁</span>古街（不少于40分钟），晚间，入住世界遗产熊野古道名泉季之座，品纪伊半岛风味料理，浸身私汤放松旅途疲惫。</p>
              <p>
                <strong>酒店:</strong>
                三重季之座温泉酒店或同级 <span class="label rounded label-orange">私享温泉</span>
              </p>
              <p>
                <strong>用膳:</strong>
                <span class="badge rounded badge-aqua">早</span>
                <span class="badge rounded badge-u">中</span>
                <span class="badge rounded badge-dark">晚</span>
              </p>

              <div class="headline"><h4>景点</h4></div>
              <p><strong>伊势神宫：</strong>日本地位最高的神社，在皇位继承等时，天皇也来这里参拜。倘佯在古木参天的树林中，心灵如同得到了净化。神宫前的古街，重现了昔日的百年老店、饮食店等，漫步其中，别有情趣。</p>
              <p><strong>托福横丁古街：</strong>位于三重县伊势市伊势神宫内宫前的托福横丁正是因此典故和人们为了感谢在此生意持久兴隆而得名的。托福横丁再现了江户时代的街景，游客可在洋溢着古代参拜者热闹气氛之传统的、房屋栉比的街道中享受美食及购物之乐。</p>
              <p><strong>二见浦夫妇岩：</strong>位于日本的三重县的二见浦的得名来自古代神话传说。神话中的女神倭姬惊叹此处之景的美丽，两次回头眺望，故名二见浦。二见浦的东端是被叫作“男岩”和“女岩”的夫妻岩。它们充当了兴玉神社的神体─兴玉神石的天然“鸟居”（日本神社的大门）。</p>

              <div class="headline"><h4>美食</h4></div>
              <p><strong>温泉餐</strong></p>
              <p><strong>松阪牛烧烤</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-u btn-u-lg btn-u-orange" onclick="$('#modal_day_5').modal('hide');$('#modal_day_4').modal('show',0);">上一天</button>
                <button type="button" class="btn btn-u btn-u-lg btn-u-light-green" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-u btn-u-lg btn-u-orange" onclick="$('#modal_day_5').modal('hide');$('#modal_day_6').modal('show');">下一天</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="modal_day_6" class="modal fade modal_itinery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">第六天: 三重 - 奈良 - 大阪 - 京都</h4>
            </div>
            <div class="modal-body itinery_modal_body">
              <div class="headline"><h4>行程概述</h4></div>
              <p>早餐后，乘车前往千年古都奈良。前往参观奈良公园内的著名世界遗产-<span class="color-blue">春日大社</span><span class="color-light-blue">（合计不少于50分钟）</span>，与温顺的小鹿共度悠闲时光。游览结束乘车前往繁华商都大阪，参观大阪的标志建筑——建于1583年的<span class="color-blue">大阪城公园</span><span class="color-red"><span class="color-red">（不登城）</span></span><span class="color-light-green">（不少于50分钟）</span>，午后前往综合免税店<span class="color-light-green">（不少于60分钟）</span>自由购物。随后来到最著名的商业街----<span class="color-blue">心斋桥道顿崛美食街</span>自由观光<span class="color-light-green">（不少于60分钟）</span>。<span class="color-red">（方便购物，餐敬请自理）</span></p>
              <p>
                <strong>酒店:</strong>
                京都威斯汀酒店或同级
              </p>
              <p>
                <strong>用膳:</strong>
                <span class="badge rounded badge-aqua">早</span>
                <span class="badge rounded badge-u">中</span>
                <span class="badge rounded badge-dark">晚</span>
              </p>

              <div class="headline"><h4>景点</h4></div>
              <p><strong>奈良公园：</strong>游走公园中的每个角落，聆听古寺庙宇中传来的梵钟声，随处可见漫步的鹿群。传说春日大社的神祗就是骑着一头白鹿来到奈良，所以鹿被视作神的使者受到严密的保护，得以自在地繁衍到今天。</p>
              <p><strong>春日大社：</strong>日本三大神社之一，被登入世界文化遗产。并立的4个社殿组成本殿，围绕本殿的朱红色的回廊与春日山麓的绿色丛林相映成辉，与屋檐下垂下的灯笼和社殿一起构成了一幅情趣盎然的风景画。</p>
              <p><strong>大阪城公园：</strong>系丰臣秀吉于1583年所建，是由雄伟的石墙砌造而成，大阪城公园内城中央耸立着大阪城的主体建筑天守阁，镶铜镀金，十分壮观。</p>
              <p><strong>心斋桥繁华街：</strong>心斋桥作为大阪最大的繁华街，集中了许多精品屋和专卖店，从早到晚熙熙攘攘，到处是市民和游客的人流。心斋桥是以带有拱廊设施的心斋桥筋商店街为中心发展起来的。这里大型百货店、百年老铺、面向平民的各种小店铺鳞次栉比。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-u btn-u-lg btn-u-orange" onclick="$('#modal_day_6').modal('hide');$('#modal_day_5').modal('show',0);">上一天</button>
                <button type="button" class="btn btn-u btn-u-lg btn-u-light-green" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-u btn-u-lg btn-u-orange" onclick="$('#modal_day_6').modal('hide');$('#modal_day_7').modal('show');">下一天</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="modal_day_7" class="modal fade modal_itinery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">第七天: 京都 - 关西机场 - 成都</h4>
            </div>
            <div class="modal-body itinery_modal_body">
              <div class="headline"><h4>行程概述</h4></div>
              <p>早餐后，京都市内游览。<span class="color-blue">平安神宫</span>外苑<span class="color-light-green">（不少于20分钟）</span>。参观世界遗产-<span class="color-blue">清水寺及坂道街</span><span class="color-light-green">（不少于60分钟）</span>，感受历史与自然的融合。随后，漫步<span class="color-blue">祗园</span>，找寻艺伎时代风情<span class="color-light-green">（不少于30分钟）</span>。京都游览结束后乘坐巴士前往机场，搭乘国际航班回到成都，结束美妙的日本之旅！ </p>
              <p>
                <strong>用膳:</strong>
                <span class="badge rounded badge-aqua">早</span>
                <span class="badge rounded badge-u">中</span>
              </p>

              <div class="headline"><h4>景点</h4></div>
              <p><strong>清水寺及坂道街：</strong>作为日本国宝被收录进世界遗产名录的清水寺，本身就是一首婉转流淌的风物诗，歌唱着古都京都的旧貌新颜，一砖一瓦都记录着这里岁月的变迁。徜徉在安静祥和的坂道街，信手买来浓郁当地特色的纪念品，古刹，坂道，美景，路人，美好的一切令旅人流连忘返。</p>
              <p><strong>祗园：</strong>花见小路通街道是祗园街正中南北走向的一条保持了京都历史古老风貌的著名街道，古香古色、竹篱红墙的茶屋、高级餐馆料亭，店头悬挂有“舞妓”的小红灯笼，令整条街充满了浓郁的花街柳巷情趣，这里是体验京都古文化精华的必游之处。</p>
              <p><strong>平安神宫：</strong>平安神宫建于1895年，是为了纪念日本古都平安迁都1100周年而建的，其内供奉着在京都在位的第一位天皇奉桓武天皇和最后一位天皇孝明天皇。其造型按平安京八分之五的缩图设计。院内林木茂盛，是明治时代园林建筑的代表。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-u btn-u-lg btn-u-orange" onclick="$('#modal_day_7').modal('hide');$('#modal_day_6').modal('show',0);">上一天</button>
                <button type="button" class="btn btn-u btn-u-lg btn-u-light-green" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-u btn-u-lg btn-u-orange disabled" disabled="disabled">下一天</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<% end %>