<p id="notice"><%= notice %></p>

<h1>Listing Tours</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Slider subtitle</th>
      <th colspan="3">Actions</th>
      <th>Routes</th>
      <th>Slides</th>
      <th>Hightlights</th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.id %></td>
        <td><%= tour.name %></td>
        <td><%= tour.slider_subtitle %></td>
        <td><%= link_to 'Show', tour %></td>
        <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
        <td><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Routes', tour_routes_path(tour) %></td>
        <td><%= link_to 'Slides', tour_slides_path(tour) %></td>
        <td><%= link_to 'Hightlights', tour_high_lights_path(tour) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour', new_tour_path %>
