<div class="map_header">
  <p>环游日本</p>
</div>

<div id="main_content">
  <div role="tabpanel" id="grand_map_container">

    <div id="zoom_wrapper">
      <div class="easyzoom easyzoom--overlay" id="zoom_container">
        <%= link_to image_path("huang/round/round.jpg") do %>
          <%= image_tag "huang/round/round.jpg", id: "zoom_image" %>
        <% end %>
      </div>
    </div>

  </div>
  <div role="tabpanel" class="hidden" id="details_container">
    <div id="trip_list" class="owl-carousel">
      <div class="item">
        <a href="#trip-1" data-toggle="tab" aria-expanded="false">
          <%= image_tag "huang/round/round-icons/2.png" %>
          <!-- <h4>本州线</h4> -->
        </a>
      </div>
      <div class="item">
        <a href="#trip-2" data-toggle="tab" aria-expanded="false">
          <%= image_tag "huang/round/round-icons/5.png" %>
          <!-- <h4>九州线</h4> -->
        </a>
      </div>
      <div class="item">
        <a href="#trip-3" data-toggle="tab" aria-expanded="false">
          <%= image_tag "huang/round/round-icons/4.png" %>
          <!-- <h4>四国线</h4> -->
        </a>
      </div>
      <div class="item">
        <a href="#trip-4" data-toggle="tab" aria-expanded="false">
          <%= image_tag "huang/round/round-icons/3.png" %>
          <!-- <h4>中国线</h4> -->
        </a>
      </div>
      <div class="item">
        <a href="#trip-5" data-toggle="tab" aria-expanded="false">
          <%= image_tag "huang/round/round-icons/1.png" %>
          <!-- <h4>关东线</h4> -->
        </a>
      </div>
      <div class="item">
        <a href="#trip-6" data-toggle="tab" aria-expanded="false">
          <%= image_tag "huang/round/round-icons/7.png" %>
          <!-- <h4>北海道-南</h4> -->
        </a>
      </div>
      <div class="item">
        <a href="#trip-7" data-toggle="tab" aria-expanded="false">
          <%= image_tag "huang/round/round-icons/6.png" %>
          <!-- <h4>北海道-东</h4> -->
        </a>
      </div>
    </div>

    <div class="tab-content">
      <div class="container tab-pane fade in active" id="trip-1">
        <div class="headline"><h4>本州全景环线</h4></div>
        <div class="margin-bottom-20">
          <table class="table trip_table">
            <thead>
              <tr>
                <td class="week">周一</td>
                <td class="infomation">东京</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="week">周二</td>
                <td class="infomation">横滨-镰仓</td>
              </tr>
              <tr>
                <td class="week">周三</td>
                <td class="infomation">伊豆-静冈-名古屋</td>
              </tr>
              <tr>
                <td class="week">周四</td>
                <td class="infomation">奈良-大阪</td>
              </tr>
              <tr>
                <td class="week">周五</td>
                <td class="infomation">京都</td>
              </tr>
              <tr>
                <td class="week">周六</td>
                <td class="infomation">高山-白川乡-上高地</td>
              </tr>
              <tr>
                <td class="week">周日</td>
                <td class="infomation">富士山-东京</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <%= render partial: "tours/info" %>
      </div>
      <div class="container tab-pane fade" id="trip-2">
        <div class="headline"><h4>九州环线</h4></div>
        <div class="margin-bottom-20">
          <table class="table trip_table">
            <thead>
              <tr>
                <td class="week">周一</td>
                <td class="infomation">福冈-长崎</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="week">周二</td>
                <td class="infomation">熊本-阿苏</td>
              </tr>
              <tr>
                <td class="week">周三</td>
                <td class="infomation">鹿儿岛</td>
              </tr>
              <tr>
                <td class="week">周四</td>
                <td class="infomation">雾岛-宫崎</td>
              </tr>
              <tr>
                <td class="week">周五</td>
                <td class="infomation">别府-福冈</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <%= render partial: "tours/info" %>
      </div>
      <div class="container tab-pane fade" id="trip-3">
        <div class="headline"><h4>四国环线</h4></div>
        <div class="margin-bottom-20">
          <table class="table trip_table">
            <thead>
              <tr>
                <td class="week">周一</td>
                <td class="infomation">神户</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="week">周二</td>
                <td class="infomation">鸣门海峡-香川</td>
              </tr>
              <tr>
                <td class="week">周三</td>
                <td class="infomation">爱媛</td>
              </tr>
              <tr>
                <td class="week">周四</td>
                <td class="infomation">高知</td>
              </tr>
              <tr>
                <td class="week">周五</td>
                <td class="infomation">德岛-大阪</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <%= render partial: "tours/info" %>
      </div>
      <div class="container tab-pane fade" id="trip-4">
        <div class="headline"><h4>中国环线</h4></div>
        <div class="margin-bottom-20">
          <table class="table trip_table">
            <thead>
              <tr>
                <td class="week">周一</td>
                <td class="infomation">大阪-神户</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="week">周二</td>
                <td class="infomation">冈山</td>
              </tr>
              <tr>
                <td class="week">周三</td>
                <td class="infomation">广岛</td>
              </tr>
              <tr>
                <td class="week">周四</td>
                <td class="infomation">鸟取</td>
              </tr>
              <tr>
                <td class="week">周五</td>
                <td class="infomation">京都</td>
              </tr>
              <tr>
                <td class="week">周六</td>
                <td class="infomation">奈良-大阪</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <%= render partial: "tours/info" %>
      </div>
      <div class="container tab-pane fade" id="trip-5">
        <div class="headline"><h4>关东环线</h4></div>
        <div class="margin-bottom-20">
          <table class="table trip_table">
            <thead>
              <tr>
                <td class="week">周一</td>
                <td class="infomation">东京</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="week">周二</td>
                <td class="infomation">千叶</td>
              </tr>
              <tr>
                <td class="week">周三</td>
                <td class="infomation">茨城</td>
              </tr>
              <tr>
                <td class="week">周四</td>
                <td class="infomation">枥木</td>
              </tr>
              <tr>
                <td class="week">周五</td>
                <td class="infomation">群马</td>
              </tr>
              <tr>
                <td class="week">周六</td>
                <td class="infomation">埼玉</td>
              </tr>
              <tr>
                <td class="week">周日</td>
                <td class="infomation">富士山-东京</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <%= render partial: "tours/info" %>
      </div>
      <div class="container tab-pane fade" id="trip-6">
        <div class="headline"><h4>北海道南环线</h4></div>
        <div class="margin-bottom-20">
          <table class="table trip_table">
            <thead>
              <tr>
                <td class="week">周一</td>
                <td class="infomation">新千岁-支芴湖-登别</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="week">周二</td>
                <td class="infomation">函馆</td>
              </tr>
              <tr>
                <td class="week">周三</td>
                <td class="infomation">大沼-洞爷湖</td>
              </tr>
              <tr>
                <td class="week">周四</td>
                <td class="infomation">小樽</td>
              </tr>
              <tr>
                <td class="week">周五</td>
                <td class="infomation">札幌-新千岁</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <%= render partial: "tours/info" %>
      </div>
      <div class="container tab-pane fade" id="trip-7">
        <div class="headline"><h4>北海道东环线</h4></div>
        <div class="margin-bottom-20">
          <table class="table trip_table">
            <thead>
              <tr>
                <td class="week">周一</td>
                <td class="infomation">新千岁</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="week">周二</td>
                <td class="infomation">十胜川</td>
              </tr>
              <tr>
                <td class="week">周三</td>
                <td class="infomation">阿寒湖</td>
              </tr>
              <tr>
                <td class="week">周四</td>
                <td class="infomation">网走-层云峡</td>
              </tr>
              <tr>
                <td class="week">周五</td>
                <td class="infomation">美瑛-富良野</td>
              </tr>
              <tr>
                <td class="week">周六</td>
                <td class="infomation">札幌</td>
              </tr>
              <tr>
                <td class="week">周日</td>
                <td class="infomation">小樽-新千岁</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <%= render partial: "tours/info" %>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="hidden" id="highlights_container">
    <%= image_tag "huang/round/full.jpg" %>
  </div>
</div>

<footer class="controller">
  <ul>
    <li><a href="#" id="a_show_map" class="active" onclick="click_show_map()"><i class="fa fa-location-arrow"></i> 线路地图</a></li>
    <li><a href="#" id="a_show_highlights" class="" onclick="click_show_highlights()"><i class="fa fa-share-alt"></i> 环线介绍</a></li>
    <li><a href="#" id="a_show_detail" class="" onclick="click_show_detail()"><i class="fa fa-flag-o"></i> 线路详情</a></li>
  </ul>
</footer>
