<div class="map_header">
  <p>环游日本</p>
</div>
<div id="main_content">
  <div role="tabpanel" class="" id="grand_map_container">
    <%#= image_tag "/img/huang/map_all.jpg", id:"grand_map" %>
  </div>
  <div role="tabpanel" class="hidden" id="details_container">
    <div id="trip_list" class="owl-carousel">
      <div class="item">
        <a href="#trip-1" data-toggle="tab" aria-expanded="false">
          <%= image_tag "/img/db1.jpg" %>
          <h4>本州线</h4>
        </a>
      </div>
      <div class="item">
        <a href="#trip-2" data-toggle="tab" aria-expanded="false">
          <%= image_tag "/img/do.jpg" %>
          <h4>九州线</h4>
        </a>
      </div>
      <div class="item">
        <a href="#trip-3" data-toggle="tab" aria-expanded="false">
          <%= image_tag "/img/crim1.jpg" %>
          <h4>四国线</h4>
        </a>
      </div>
      <div class="item">
        <a href="#trip-4" data-toggle="tab" aria-expanded="false">
          <%= image_tag "/img/r1.jpg" %>
          <h4>中国线</h4>
        </a>
      </div>
      <div class="item">
        <a href="#trip-5" data-toggle="tab" aria-expanded="false">
          <%= image_tag "/img/r1.jpg" %>
          <h4>关东线</h4>
        </a>
      </div>
      <div class="item">
        <a href="#trip-6" data-toggle="tab" aria-expanded="false">
          <%= image_tag "/img/r1.jpg" %>
          <h4>北海道-南</h4>
        </a>
      </div>
      <div class="item">
        <a href="#trip-7" data-toggle="tab" aria-expanded="false">
          <%= image_tag "/img/r1.jpg" %>
          <h4>北海道-东</h4>
        </a>
      </div>
    </div>

    <div class="tab-content">
      <div class="container tab-pane fade in active" id="trip-1">
        <div class="headline"><h4>本州全景环线</h4></div>
        <div class="margin-bottom-20">
          <table class="table trip_table">
            <thead>
              <tr>
                <td class="week">周一</td>
                <td class="infomation">东京</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="week">周二</td>
                <td class="infomation">横滨-镰仓</td>
              </tr>
              <tr>
                <td class="week">周三</td>
                <td class="infomation">伊豆-静冈-名古屋</td>
              </tr>
              <tr>
                <td class="week">周四</td>
                <td class="infomation">奈良-大阪</td>
              </tr>
              <tr>
                <td class="week">周五</td>
                <td class="infomation">京都</td>
              </tr>
              <tr>
                <td class="week">周六</td>
                <td class="infomation">高山-白川乡-上高地</td>
              </tr>
              <tr>
                <td class="week">周日</td>
                <td class="infomation">富士山-东京</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <%= render partial: "tours/info" %>
      </div>
      <div class="container tab-pane fade" id="trip-2">
        <div class="headline"><h4>九州环线</h4></div>
        <div class="margin-bottom-20">
          <table class="table trip_table">
            <thead>
              <tr>
                <td class="week">周一</td>
                <td class="infomation">福冈-长崎</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="week">周二</td>
                <td class="infomation">熊本-阿苏</td>
              </tr>
              <tr>
                <td class="week">周三</td>
                <td class="infomation">鹿儿岛</td>
              </tr>
              <tr>
                <td class="week">周四</td>
                <td class="infomation">雾岛-宫崎</td>
              </tr>
              <tr>
                <td class="week">周五</td>
                <td class="infomation">别府-福冈</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <%= render partial: "tours/info" %>
      </div>
      <div class="container tab-pane fade" id="trip-3">
        <div class="headline"><h4>四国环线</h4></div>
        <div class="margin-bottom-20">
          <table class="table trip_table">
            <thead>
              <tr>
                <td class="week">周一</td>
                <td class="infomation">神户</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="week">周二</td>
                <td class="infomation">鸣门海峡-香川</td>
              </tr>
              <tr>
                <td class="week">周三</td>
                <td class="infomation">爱媛</td>
              </tr>
              <tr>
                <td class="week">周四</td>
                <td class="infomation">高知</td>
              </tr>
              <tr>
                <td class="week">周五</td>
                <td class="infomation">德岛-大阪</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <%= render partial: "tours/info" %>
      </div>
      <div class="container tab-pane fade" id="trip-4">
        <div class="headline"><h4>中国环线</h4></div>
        <div class="margin-bottom-20">
          <table class="table trip_table">
            <thead>
              <tr>
                <td class="week">周一</td>
                <td class="infomation">大阪-神户</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="week">周二</td>
                <td class="infomation">冈山</td>
              </tr>
              <tr>
                <td class="week">周三</td>
                <td class="infomation">广岛</td>
              </tr>
              <tr>
                <td class="week">周四</td>
                <td class="infomation">鸟取</td>
              </tr>
              <tr>
                <td class="week">周五</td>
                <td class="infomation">京都</td>
              </tr>
              <tr>
                <td class="week">周六</td>
                <td class="infomation">奈良-大阪</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <%= render partial: "tours/info" %>
      </div>
      <div class="container tab-pane fade" id="trip-5">
        <div class="headline"><h4>关东环线</h4></div>
        <div class="margin-bottom-20">
          <table class="table trip_table">
            <thead>
              <tr>
                <td class="week">周一</td>
                <td class="infomation">东京</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="week">周二</td>
                <td class="infomation">千叶</td>
              </tr>
              <tr>
                <td class="week">周三</td>
                <td class="infomation">茨城</td>
              </tr>
              <tr>
                <td class="week">周四</td>
                <td class="infomation">枥木</td>
              </tr>
              <tr>
                <td class="week">周五</td>
                <td class="infomation">群马</td>
              </tr>
              <tr>
                <td class="week">周六</td>
                <td class="infomation">埼玉</td>
              </tr>
              <tr>
                <td class="week">周日</td>
                <td class="infomation">富士山-东京</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <%= render partial: "tours/info" %>
      </div>
      <div class="container tab-pane fade" id="trip-6">
        <div class="headline"><h4>北海道南环线</h4></div>
        <div class="margin-bottom-20">
          <table class="table trip_table">
            <thead>
              <tr>
                <td class="week">周一</td>
                <td class="infomation">新千岁-支芴湖-登别</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="week">周二</td>
                <td class="infomation">函馆</td>
              </tr>
              <tr>
                <td class="week">周三</td>
                <td class="infomation">大沼-洞爷湖</td>
              </tr>
              <tr>
                <td class="week">周四</td>
                <td class="infomation">小樽</td>
              </tr>
              <tr>
                <td class="week">周五</td>
                <td class="infomation">札幌-新千岁</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <%= render partial: "tours/info" %>
      </div>
      <div class="container tab-pane fade" id="trip-7">
        <div class="headline"><h4>北海道东环线</h4></div>
        <div class="margin-bottom-20">
          <table class="table trip_table">
            <thead>
              <tr>
                <td class="week">周一</td>
                <td class="infomation">新千岁</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="week">周二</td>
                <td class="infomation">十胜川</td>
              </tr>
              <tr>
                <td class="week">周三</td>
                <td class="infomation">阿寒湖</td>
              </tr>
              <tr>
                <td class="week">周四</td>
                <td class="infomation">网走-层云峡</td>
              </tr>
              <tr>
                <td class="week">周五</td>
                <td class="infomation">美瑛-富良野</td>
              </tr>
              <tr>
                <td class="week">周六</td>
                <td class="infomation">札幌</td>
              </tr>
              <tr>
                <td class="week">周日</td>
                <td class="infomation">小樽-新千岁</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <%= render partial: "tours/info" %>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="hidden" id="highlights_container">
    <%= image_tag "/img/huang/full.jpg", style: "width: 100%" %>
  </div>
</div>

<style>

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.map_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #157DEC;  
}
#main_content{
  position: absolute;
  width: 100%;
  top: 50px;
  bottom:60px;
  overflow: scroll;
}

#grand_map {
  width: 100%;
  padding-top: 100px;
}

.map_header p {
  color: #fff;
  font-size: 20px;
  line-height: 50px;
}

.controller {
  z-index: 10;
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin-left: 0px;
  left: 0px;

  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #fff;

  text-align: center;
  padding-top: 15px;

  border: 1px solid #eee;

  -webkit-box-shadow: 0px -10px 8px #ddd;
  -moz-box-shadow:    0px -10px 8px #ddd;
  box-shadow:         0px -10px 8px #ddd;
}

.controller div {
  width: 32%;
  font-size: 18px;
  padding: 15px 5px;
}

.controller ul {
  padding: 0;
  list-style-type:none;
  height:30px;
  text-align:center;
  width: 100%;      /* new */
  display: table;   
}
.controller ul li {
  margin-left:50px;
  display: table-cell;  /* updated */
}

.controller ul a {
  font-size: 18px;
}

.controller ul a:hover,
.controller ul a:focus,
.controller ul a:visited
{
  text-decoration: none;
  background-color: inherit;
}
.controller ul a.active {
  color: #736AFF;
}

#trip_list .item{
  background: inherit;
  padding: 5px 0px;
  margin: 5px 4px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
#trip_list .item img{
  width: 100%;
}

table .week {
  width: 70px;
  color: orange;
  font-weight: bold;
}
table .infomation {
  text-align: left;
}
.modal-footer button{
  width: 100% !important;
}
</style>


<footer class="controller">
  <ul>
    <li><a href="#" id="a_show_map" class="active" onclick="click_show_map()"><i class="fa fa-location-arrow"></i> 线路地图</a></li>
    <li><a href="#" id="a_show_highlights" class="" onclick="click_show_highlights()"><i class="fa fa-share-alt"></i> 环线介绍</a></li>
    <li><a href="#" id="a_show_detail" class="" onclick="click_show_detail()"><i class="fa fa-flag-o"></i> 线路详情</a></li>
  </ul>
</footer>

<% content_for :modals do %>
<div id="zg_modal" class="modal fade modal_itinery">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">日本 · 中国环线</h4>
      </div>
      <div class="modal-body itinery_modal_body">
        <%= image_tag "/img/huang/t1_map.jpg", style: "width:100%" %>
        <div class="headline"><h4>环线介绍</h4></div>
        <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
        <div class="headline"><h4>途经城市</h4></div>
        <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-u btn-u-lg" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<div id="bhd_d_modal" class="modal fade modal_itinery">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">日本 · 北海道（东）</h4>
      </div>
      <div class="modal-body itinery_modal_body">
        <%= image_tag "/img/huang/t4_map.jpg", style: "width:100%" %>
        <div class="headline"><h4>环线介绍</h4></div>
        <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
        <div class="headline"><h4>途经城市</h4></div>
        <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-u btn-u-lg" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<div id="bhd_n_modal" class="modal fade modal_itinery">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">日本 · 北海道（南）</h4>
      </div>
      <div class="modal-body itinery_modal_body">
        <%= image_tag "/img/huang/t5_map.jpg", style: "width:100%" %>
        <div class="headline"><h4>环线介绍</h4></div>
        <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
        <div class="headline"><h4>途经城市</h4></div>
        <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-u btn-u-lg" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<div id="gd_modal" class="modal fade modal_itinery">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">日本 · 关东环线</h4>
      </div>
      <div class="modal-body itinery_modal_body">
        <%= image_tag "/img/huang/t3_map.jpg", style: "width:100%" %>
        <div class="headline"><h4>环线介绍</h4></div>
        <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
        <div class="headline"><h4>途经城市</h4></div>
        <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-u btn-u-lg" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<div id="sg_modal" class="modal fade modal_itinery">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">日本 · 四国环线</h4>
      </div>
      <div class="modal-body itinery_modal_body">
        <%= image_tag "/img/huang/t6_map.jpg", style: "width:100%" %>
        <div class="headline"><h4>环线介绍</h4></div>
        <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
        <div class="headline"><h4>途经城市</h4></div>
        <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-u btn-u-lg" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<div id="jz_modal" class="modal fade modal_itinery">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">日本 · 九州环线</h4>
      </div>
      <div class="modal-body itinery_modal_body">
        <%= image_tag "/img/huang/t2_map.jpg", style: "width:100%" %>
        <div class="headline"><h4>环线介绍</h4></div>
        <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
        <div class="headline"><h4>途经城市</h4></div>
        <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-u btn-u-lg" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<div id="bz_modal" class="modal fade modal_itinery">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">日本 · 本周全景环线</h4>
      </div>
      <div class="modal-body itinery_modal_body">
        <%= image_tag "/img/huang/t7_map.jpg", style: "width:100%" %>
        <div class="headline"><h4>环线介绍</h4></div>
        <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
        <div class="headline"><h4>途经城市</h4></div>
        <p>双流国际机场集合，搭乘国际航班飞往东京，抵达后前往入住酒店休息。</p>
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-u btn-u-lg" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :script do %>
<script>
function click_show_map(){
  $('#a_show_map').addClass("active");
  $('#a_show_detail').removeClass("active");
  $('#a_show_highlights').removeClass("active");

  $('#grand_map_container').removeClass("hidden");
  $('#details_container').addClass("hidden");
  $('#highlights_container').addClass("hidden");
}
function click_show_detail(){
  $('#a_show_map').removeClass("active");
  $('#a_show_detail').addClass("active");
  $('#a_show_highlights').removeClass("active");

  $('#grand_map_container').addClass("hidden");
  $('#details_container').removeClass("hidden");
  $('#highlights_container').addClass("hidden");
}

function click_show_highlights(){
  $('#a_show_map').removeClass("active");
  $('#a_show_detail').removeClass("active");
  $('#a_show_highlights').addClass("active");

  $('#grand_map_container').addClass("hidden");
  $('#details_container').addClass("hidden");
  $('#highlights_container').removeClass("hidden");
}

$(document).ready(function() {

  $('#grand_map').on('click', function(event){
    $('#map').modal('show');
  });

  $("#trip_list").owlCarousel({
      items : 8, //10 items above 1000px browser width
      itemsDesktop : [1000,7], //5 items between 1000px and 901px
      itemsDesktopSmall : [900,6], // betweem 900px and 601px
      itemsTablet: [600,4], //2 items between 600 and 0
      itemsMobile : 4, // itemsMobile disabled - inherit from itemsTablet option
      navigation: false,
      pagination: false
    });



});

$(function () {
  var main_content_height = $(window).height() - 110;
  var trips = [
  {
    "name": "中国环线",
    "color": "#c58917",
    "dataLabels": { "x": -10, "y": -6 },
    "modal": "#zg_modal",
    "path": "M281,-414L276,-411L275,-406L278,-402L282,-401L283,-404L285,-404L285,-408L281,-414zM266,-401L261,-397L263,-395L263,-397L267,-396L267,-399L269,-400L266,-401zM271,-399L268,-397L268,-393L269,-394L271,-398L271,-399zM266,-366L263,-362L260,-362L259,-361L254,-361L246,-359L247,-358L241,-357L243,-354L242,-351L240,-347L234,-345L227,-341L225,-337L222,-336L222,-334L217,-332L216,-331L207,-325L203,-320L196,-316L195,-313L188,-311L184,-311L183,-310L180,-311L180,-308L178,-308L175,-304L171,-302L172,-301L169,-298L169,-296L164,-296L163,-294L157,-294L158,-297L161,-296L160,-298L155,-298L156,-295L155,-294L153,-297L150,-298L146,-297L145,-299L143,-297L147,-295L141,-294L140,-294L138,-289L140,-283L136,-278L137,-275L138,-275L139,-271L137,-268L138,-265L139,-267L144,-271L145,-273L149,-272L152,-268L153,-265L155,-266L158,-264L161,-265L165,-271L166,-267L168,-267L170,-270L174,-266L175,-269L181,-270L184,-268L185,-269L189,-267L186,-265L186,-264L190,-266L195,-262L196,-260L201,-258L203,-256L203,-253L201,-254L199,-250L205,-253L206,-255L205,-259L206,-261L210,-263L210,-271L212,-273L212,-277L212,-280L217,-285L221,-287L224,-286L227,-287L227,-282L230,-275L233,-277L236,-273L238,-277L242,-277L241,-279L246,-282L246,-280L250,-282L256,-282L259,-283L259,-285L262,-285L264,-284L262,-281L260,-283L259,-281L259,-277L264,-279L266,-279L265,-282L267,-284L269,-288L272,-284L271,-281L273,-282L278,-287L280,-290L284,-290L281,-287L286,-288L288,-290L294,-292L297,-290L299,-286L300,-288L306,-286L309,-291L313,-293L312,-296L307,-293L306,-295L309,-296L313,-296L315,-294L319,-295L321,-298L319,-298L326,-301L322,-304L328,-302L328,-305L326,-310L327,-321L330,-324L334,-330L335,-336L337,-335L341,-337L341,-342L338,-350L337,-357L335,-360L331,-360L328,-357L317,-356L315,-358L310,-357L300,-356L292,-359L285,-357L283,-355L278,-356L275,-358L275,-361L279,-362L270,-363L266,-366zM216,-283L214,-281L216,-280L219,-282L216,-283zM251,-279L246,-277L247,-275L250,-276L251,-279zM238,-275L237,-274L239,-273L241,-273L238,-275zM228,-274L227,-271L224,-269L230,-267L230,-270L229,-271L228,-274zM209,-261L208,-259L209,-255L215,-255L218,-253L218,-256L222,-257L224,-259L221,-259L219,-258L215,-257L214,-259L212,-261L209,-261z"
  },
  {
    "name": "九州环线",
    "color": "#86bb65",
    "modal": "#jz_modal",
    "dataLabels": { "x": 5, "y": -6 },
    "path": "M64,-326L62,-325L59,-322L56,-323L53,-317L55,-316L52,-311L51,-304L53,-306L53,-303L55,-304L53,-300L56,-300L58,-303L57,-304L57,-310L62,-313L64,-319L64,-326zM46,-302L45,-296L43,-288L46,-287L49,-289L53,-297L54,-299L52,-301L48,-300L46,-302zM70,-269L68,-266L67,-261L71,-258L72,-260L74,-260L75,-263L74,-266L74,-267L70,-269zM143,-268L140,-266L138,-264L136,-264L133,-267L125,-268L122,-265L118,-265L114,-264L112,-260L112,-256L107,-252L105,-252L102,-253L105,-250L108,-252L107,-248L103,-248L101,-246L100,-249L98,-249L98,-252L94,-251L94,-249L90,-247L93,-244L88,-242L86,-240L85,-239L81,-242L83,-244L80,-247L77,-247L76,-245L77,-240L74,-243L72,-241L77,-237L75,-234L75,-229L73,-233L69,-236L66,-236L66,-238L64,-236L61,-238L60,-234L60,-231L59,-231L58,-226L63,-225L65,-219L66,-222L67,-220L68,-221L67,-216L70,-216L72,-214L75,-215L78,-211L77,-206L80,-200L74,-202L71,-200L69,-203L69,-208L70,-205L71,-210L68,-212L68,-215L64,-218L60,-211L60,-207L62,-206L63,-201L65,-199L67,-199L70,-191L68,-191L68,-189L66,-185L63,-184L66,-184L70,-187L73,-188L77,-193L81,-194L85,-196L90,-195L91,-191L87,-188L86,-188L86,-185L88,-184L88,-182L91,-183L94,-185L96,-185L99,-187L100,-194L99,-198L97,-200L94,-200L91,-199L89,-199L86,-201L91,-203L92,-205L93,-207L89,-216L94,-219L96,-221L98,-218L101,-217L105,-213L105,-206L105,-202L113,-194L114,-192L112,-190L114,-187L111,-187L105,-184L103,-182L116,-183L114,-180L110,-177L111,-174L109,-172L109,-169L105,-166L105,-163L103,-164L100,-158L96,-154L95,-153L94,-150L91,-149L89,-151L85,-149L86,-146L84,-144L86,-138L84,-133L86,-131L84,-132L82,-129L83,-127L87,-124L91,-117L90,-113L87,-105L83,-102L79,-105L77,-104L81,-100L80,-97L82,-93L86,-93L95,-92L97,-90L98,-86L102,-85L105,-86L107,-92L105,-92L102,-95L100,-103L101,-109L104,-114L106,-116L107,-119L111,-122L116,-120L118,-119L117,-114L114,-111L112,-111L112,-114L108,-115L105,-113L107,-111L110,-110L110,-104L113,-102L115,-96L113,-89L110,-82L106,-79L105,-74L113,-78L121,-80L124,-83L126,-87L129,-87L134,-90L130,-90L132,-93L127,-96L131,-102L136,-103L139,-101L141,-97L145,-96L146,-95L150,-103L149,-105L151,-109L154,-111L154,-113L156,-120L157,-122L156,-123L155,-128L161,-143L166,-155L167,-157L168,-161L172,-163L170,-165L175,-167L172,-170L174,-173L176,-173L177,-177L181,-180L182,-179L184,-182L185,-186L186,-184L191,-187L189,-188L192,-191L191,-192L193,-194L190,-196L187,-199L189,-203L193,-203L185,-205L188,-208L184,-207L182,-209L184,-211L186,-213L188,-217L184,-216L178,-218L175,-219L172,-218L169,-218L167,-220L167,-224L169,-226L172,-224L174,-226L175,-228L178,-227L181,-232L181,-239L178,-245L174,-246L170,-246L164,-240L156,-241L152,-244L146,-245L144,-247L142,-253L142,-258L140,-258L142,-262L143,-268zM71,-243L69,-239L69,-238L72,-240L71,-243zM59,-240L58,-240L56,-237L53,-236L52,-233L50,-232L50,-229L46,-228L46,-226L48,-225L52,-226L55,-229L55,-231L59,-237L59,-240zM35,-235L32,-233L34,-232L36,-233L35,-235zM33,-223L31,-221L30,-217L28,-218L28,-214L26,-215L24,-213L27,-210L27,-204L28,-206L30,-206L30,-209L35,-213L35,-215L31,-214L31,-218L33,-223zM60,-216L57,-212L60,-215L61,-216L60,-216zM24,-211L23,-208L26,-206L26,-209L24,-211zM18,-207L21,-203L22,-207L20,-207L18,-207zM15,-206L14,-203L17,-201L19,-204L17,-206L15,-206zM13,-204L7,-201L6,-204L3,-203L3,-196L2,-197L0,-193L3,-191L8,-192L9,-189L11,-192L10,-193L17,-193L14,-198L15,-201L13,-202L13,-204zM104,-182L101,-181L101,-178L103,-178L104,-182zM86,-179L80,-178L78,-179L79,-176L77,-172L75,-167L76,-165L80,-164L77,-163L73,-160L76,-160L75,-156L78,-157L83,-161L85,-163L88,-165L89,-174L88,-177L86,-179zM98,-177L90,-173L90,-169L97,-170L97,-167L99,-168L103,-176L99,-175L98,-177zM82,-157L82,-152L84,-150L86,-156L82,-157zM66,-136L63,-135L66,-132L69,-132L69,-136L68,-134L66,-136zM61,-132L58,-128L56,-128L52,-122L54,-121L56,-121L60,-127L61,-128L61,-132zM127,-61L123,-58L123,-55L119,-51L119,-46L118,-42L113,-38L113,-30L118,-31L120,-33L119,-36L122,-43L124,-43L125,-46L125,-50L127,-52L127,-57L128,-57L127,-61zM74,-43L76,-38L79,-39L78,-41L74,-43zM93,-40L91,-39L88,-36L85,-36L85,-32L88,-25L90,-24L96,-24L100,-27L102,-33L93,-40zM52,-5L50,-4L52,-1L55,0L54,-4L52,-5z"
  },
  {
    "name": "四国环线",
    "color": "#ffd801",
    "modal": "#sg_modal",
    "dataLabels": { "x": 20, "y": 4 },
    "path": "M330,-292L325,-291L321,-289L320,-290L319,-287L322,-287L324,-283L327,-286L329,-284L331,-289L330,-292zM307,-281L304,-281L302,-279L297,-276L293,-273L288,-274L285,-275L289,-270L288,-263L286,-260L281,-256L276,-258L271,-259L266,-258L266,-257L261,-255L257,-257L255,-264L251,-270L249,-265L246,-265L240,-261L239,-256L237,-256L235,-250L235,-246L234,-243L229,-240L224,-238L218,-233L211,-230L210,-229L203,-227L204,-226L200,-226L195,-222L201,-224L202,-223L205,-225L212,-228L216,-228L218,-227L217,-225L217,-220L215,-218L217,-217L223,-218L221,-216L224,-212L222,-211L220,-208L219,-211L217,-210L219,-203L218,-201L220,-196L218,-193L221,-190L221,-192L224,-192L228,-190L231,-190L226,-183L226,-180L231,-182L233,-179L236,-178L239,-180L240,-179L242,-180L245,-177L248,-176L248,-179L244,-183L245,-186L247,-186L247,-191L249,-196L251,-197L253,-196L253,-197L259,-205L263,-208L264,-211L263,-213L264,-216L267,-218L267,-216L270,-219L275,-220L276,-223L284,-226L291,-227L293,-226L301,-223L304,-220L307,-218L307,-216L312,-209L314,-206L315,-206L317,-215L319,-220L322,-225L323,-227L327,-230L327,-231L331,-233L338,-237L339,-239L348,-243L343,-245L346,-248L346,-251L343,-255L341,-254L341,-257L341,-262L344,-266L344,-270L339,-269L336,-269L333,-269L331,-271L328,-271L323,-275L324,-277L321,-279L318,-277L318,-281L315,-281L314,-279L309,-280L307,-281zM256,-280L253,-277L254,-277L252,-273L257,-275L256,-280zM260,-276L257,-274L260,-273L262,-274L260,-276zM255,-272L255,-268L256,-268L259,-271L258,-272L255,-272zM233,-263L230,-260L232,-259L233,-260L233,-263z"
  },
  {
    "name": "本州环线",
    "color": "#ff2400",
    "modal": "#bz_modal",
    "dataLabels": { "x": 0, "y": 20 },
    "path": "M497,-479L487,-477L478,-471L473,-471L468,-469L466,-467L467,-464L463,-457L463,-455L466,-454L465,-450L468,-444L467,-440L467,-437L463,-428L460,-423L448,-409L444,-405L441,-404L437,-400L433,-398L431,-398L432,-396L427,-389L424,-383L422,-380L423,-377L423,-374L427,-370L428,-366L426,-359L424,-360L425,-362L424,-366L421,-364L422,-357L418,-356L413,-358L415,-354L412,-354L412,-351L408,-354L406,-353L407,-349L403,-348L404,-352L398,-349L396,-350L396,-353L394,-353L393,-355L387,-353L387,-351L390,-351L390,-349L387,-350L385,-347L387,-351L381,-354L383,-355L382,-357L379,-354L379,-355L383,-361L385,-361L386,-363L382,-369L374,-367L371,-364L369,-364L365,-361L362,-363L358,-363L347,-364L344,-365L335,-360L337,-357L338,-350L341,-342L341,-337L337,-335L335,-336L334,-330L330,-324L327,-321L326,-310L328,-305L328,-302L330,-302L332,-304L335,-303L338,-307L338,-305L349,-305L352,-304L356,-301L363,-295L367,-294L375,-295L375,-297L378,-295L377,-298L384,-299L386,-297L388,-297L387,-295L387,-288L385,-286L385,-284L382,-280L375,-275L370,-274L368,-272L367,-270L371,-268L373,-261L370,-261L368,-257L372,-255L371,-253L367,-251L368,-250L366,-248L366,-245L369,-246L370,-244L374,-238L379,-237L384,-232L380,-232L379,-230L382,-228L382,-225L385,-222L396,-218L403,-217L402,-214L406,-219L409,-219L414,-223L413,-225L416,-229L421,-240L423,-243L428,-244L430,-249L432,-247L433,-250L429,-254L431,-257L433,-255L435,-256L434,-259L436,-261L441,-262L444,-265L446,-264L447,-267L449,-266L454,-267L454,-269L458,-270L457,-268L462,-268L465,-267L464,-264L467,-266L467,-269L468,-273L469,-276L466,-277L465,-280L460,-282L454,-287L450,-288L449,-289L449,-292L448,-293L449,-299L453,-305L456,-310L456,-313L460,-316L461,-316L466,-316L468,-320L468,-316L465,-311L465,-305L467,-302L466,-299L466,-297L472,-293L472,-296L469,-299L471,-304L473,-308L472,-302L475,-299L483,-299L486,-301L490,-299L492,-297L490,-295L480,-289L478,-291L474,-286L481,-286L492,-289L499,-291L503,-291L511,-290L517,-288L522,-290L531,-289L538,-285L541,-284L538,-288L540,-292L544,-296L547,-300L546,-301L548,-305L556,-309L557,-312L555,-311L556,-313L559,-317L566,-320L572,-318L578,-312L577,-312L571,-312L570,-309L571,-304L569,-302L569,-298L570,-294L568,-293L570,-287L573,-284L579,-288L582,-287L582,-293L585,-295L587,-300L590,-301L590,-308L587,-310L588,-313L587,-314L588,-318L584,-320L582,-324L581,-327L583,-329L582,-335L578,-335L574,-334L567,-333L558,-338L556,-330L557,-324L554,-321L552,-321L550,-323L548,-329L547,-331L542,-331L542,-335L542,-338L543,-345L541,-351L540,-352L540,-350L537,-348L537,-342L536,-340L536,-337L534,-333L526,-329L520,-325L519,-325L512,-326L506,-325L504,-328L505,-330L507,-334L506,-337L508,-338L507,-345L505,-347L504,-351L504,-354L500,-361L494,-365L497,-370L502,-371L508,-380L508,-382L506,-386L508,-392L511,-396L511,-398L508,-403L512,-406L515,-412L515,-414L517,-416L518,-421L518,-428L516,-438L512,-442L506,-441L502,-439L500,-431L497,-428L488,-429L484,-431L480,-434L479,-436L482,-442L483,-442L483,-450L482,-451L480,-448L478,-448L477,-450L474,-450L474,-454L477,-459L481,-457L484,-459L487,-463L490,-464L493,-463L495,-467L494,-469L495,-472L500,-473L500,-477L497,-479zM479,-455L475,-454L477,-451L482,-453L483,-454L479,-455zM364,-293L361,-289L358,-288L357,-285L353,-283L349,-276L347,-276L345,-273L348,-266L352,-267L354,-268L361,-271L359,-276L358,-278L359,-281L364,-286L366,-291L364,-293z"
  },
  {
    "name": "北海道·东",
    "color": "#87f17f",
    "modal": "#bhd_d_modal",
    "dataLabels": { "x": -8, "y": -6 },
    "path": "M709,-851,712,-858,711,-863,708,-867,708,-870,709,-872,707,-881,709,-886,712,-889,716,-890,718,-892,721,-896,722,-905,722,-918,722,-921,726,-928,728,-940,727,-951,726,-958,724,-963,718,-977,718,-982,721,-988,720,-994,721,-996,723,-992,729,-994,731,-996,731,-998,733,-1000,735,-1000,740,-993,747,-986,762,-968,767,-959,769,-958,771,-954,784,-940,790,-934,796,-930,799,-928,802,-927,804,-923,811,-919,822,-915,817,-914,820,-910,823,-909,829,-909,833,-912,838,-911,841,-910,839,-908,838,-905,841,-905,843,-910,845,-910,845,-908,848,-903,851,-901,855,-900,860,-899,868,-899,873,-901,882,-913,889,-919,891,-923,895,-928,897,-925,896,-919,894,-916,893,-910,889,-904,886,-897,886,-896,885,-889,887,-884,891,-880,894,-874,896,-866,900,-860,896,-862,895,-860,898,-858,905,-857,908,-855,907,-858,911,-863,915,-866,918,-867,922,-866,915,-861,913,-861,911,-858,908,-851,905,-852,898,-851,894,-849,889,-847,889,-845,891,-845,886,-841,884,-842,885,-840,884,-838,877,-838,876,-841,874,-842,872,-840,871,-836,873,-834,871,-833,864,-835,860,-834,854,-835,853,-838,851,-838,844,-836,838,-832,830,-827,826,-821,819,-814,816,-810,810,-800,805,-791,804,-785,805,-780,803,-771,801,-766,800,-766,794,-772,787,-777,777,-780,766,-786,762,-787,753,-793,748,-799,742,-800,738,-802,736,-806,730,-808,726,-809,717,-808"
  },
  {
    "name": "北海道·南",
    "color": "#85bb65",
    "modal": "#bhd_n_modal",
    "dataLabels": { "x": 0, "y": -6 },
    "path": "M717,-808,711,-806,703,-799,695,-794,692,-789,690,-788,687,-790,690,-791,686,-794,686,-796,678,-806,675,-807,671,-806,668,-807,664,-806,661,-802,658,-797,656,-792,656,-786,658,-784,663,-781,669,-776,677,-777,680,-775,683,-770,686,-767,689,-763,695,-761,700,-757,700,-755,696,-754,691,-750,685,-753,680,-754,676,-752,678,-755,676,-757,673,-757,671,-751,664,-748,663,-745,663,-740,661,-737,655,-735,652,-730,648,-731,646,-730,643,-732,641,-740,641,-743,642,-749,645,-753,646,-756,648,-757,649,-763,649,-768,643,-776,638,-778,636,-782,631,-785,631,-790,634,-795,635,-800,634,-808,636,-813,645,-815,649,-818,651,-822,655,-819,657,-819,657,-822,661,-828,667,-833,668,-835,664,-843,659,-848,658,-851,660,-856,664,-857,666,-859,672,-854,676,-851,682,-847,692,-849,692,-846,699,-844,702,-845,709,-851C711,-850,709,-849,709,-848,709,-848,710,-848,710,-847,710,-847,710,-847,710,-847,711,-845,710,-849,711,-846,711,-846,711,-845,711,-845,711,-845,712,-845,712,-845,712,-845,712,-844,712,-844,713,-843,714,-842,714,-841,714,-841,714,-841,714,-841,714,-840,714,-837,714,-837,714,-836,715,-836,715,-836,715,-835,715,-834,715,-834,715,-833,715,-831,715,-830,715,-830,715,-830,715,-830,715,-829,715,-829,715,-829,715,-829,715,-829,715,-829,718,-828,715,-829,716,-828,716,-828,716,-828,716,-828,717,-828,716,-827,716,-827,717,-827,718,-827,718,-826,718,-826,717,-825,718,-825,718,-824,719,-824,719,-824,719,-824,719,-824,719,-824,719,-823,719,-823,720,-823,720,-823,720,-820,720,-820,720,-818,720,-817,720,-815,720,-815,720,-814,720,-814,720,-814,720,-813,720,-813,720,-814,720,-815,720,-814,720,-814,720,-813,720,-813,720,-812,720,-810,720,-810,719,-809,718,-809,717,-808z"
  },
  {
    "name": "关东环线",
    "color": "#306eff",
    "modal": "#gd_modal",
    "dataLabels": { "x": 0, "y": -20 },
    "path": "M616,-542L613,-536L611,-531L609,-518L608,-515L603,-510L598,-506L594,-504L590,-503L579,-496L576,-492L574,-483L571,-479L568,-476L564,-468L562,-467L556,-463L550,-457L546,-454L542,-453L538,-454L536,-451L527,-447L516,-443L512,-442L516,-438L518,-428L518,-421L517,-416L515,-414L515,-412L512,-406L508,-403L511,-398L511,-396L508,-392L506,-386L508,-382L508,-380L502,-371L497,-370L494,-365L500,-361L504,-354L504,-351L505,-347L507,-345L508,-338L506,-337L507,-334L505,-330L504,-328L506,-325L512,-326L519,-325L520,-325L526,-329L534,-333L536,-337L536,-340L537,-342L537,-348L540,-350L540,-352L541,-351L543,-345L542,-338L542,-335L542,-331L547,-331L548,-329L550,-323L552,-321L554,-321L557,-324L556,-330L558,-338L567,-333L574,-334L578,-335L582,-335L583,-329L581,-327L582,-324L584,-320L588,-318L589,-320L591,-319L591,-325L596,-329L605,-331L609,-329L612,-330L613,-328L617,-323L615,-323L616,-319L620,-319L619,-321L620,-323L622,-323L623,-327L618,-329L619,-334L617,-336L620,-336L620,-338L618,-339L622,-340L626,-343L626,-345L624,-351L626,-349L627,-351L628,-350L630,-351L632,-350L634,-351L634,-353L638,-353L641,-349L642,-345L641,-345L637,-340L632,-337L631,-333L629,-334L627,-331L625,-330L629,-329L630,-324L627,-322L628,-314L628,-311L629,-309L623,-308L624,-307L627,-305L628,-303L633,-303L635,-305L636,-311L642,-314L644,-317L650,-317L653,-319L654,-318L656,-321L658,-322L659,-329L658,-334L660,-341L663,-346L669,-352L673,-354L676,-354L681,-356L683,-354L683,-357L679,-362L672,-376L668,-385L668,-393L670,-397L670,-403L671,-408L674,-415L677,-425L680,-430L675,-432L668,-435L668,-432L663,-427L659,-428L653,-434L650,-436L650,-440L648,-444L643,-447L636,-450L631,-449L627,-446L621,-444L612,-439L609,-438L604,-435L597,-437L597,-438L598,-444L598,-450L596,-454L595,-454L594,-457L596,-461L597,-464L596,-469L597,-470L603,-471L606,-471L608,-474L615,-474L615,-475L614,-481L621,-491L624,-495L621,-497L619,-501L621,-511L622,-519L623,-520L627,-520L631,-522L632,-525L632,-527L629,-530L625,-531L623,-534L624,-539L616,-542zM562,-529L560,-528L558,-525L551,-519L548,-514L547,-509L548,-507L551,-508L553,-506L550,-502L549,-498L546,-497L546,-495L548,-495L554,-497L560,-501L565,-510L565,-512L558,-512L558,-514L562,-524L562,-529zM602,-296L602,-290L607,-289L607,-292L606,-295L602,-296zM598,-272L596,-270L596,-267L597,-266L598,-272zM589,-260L588,-257L589,-257L591,-258L589,-260zM612,-251L608,-250L608,-248L611,-246L613,-250L612,-251zM623,-188L621,-187L624,-182L627,-181L629,-184L628,-185L623,-188z"
  },
  {
    "name": "东北地方",
    "color": "#dddddd",
    "modal": "",
    "dataLabels": { "x": 0, "y": -6 },
    "modal": "#zg_modal",
    "path": "M686,-739L686,-736L683,-730L681,-725L679,-716L679,-713L681,-711L684,-714L688,-714L690,-716L694,-715L698,-719L699,-721L702,-719L704,-713L703,-711L702,-704L700,-697L696,-695L694,-697L689,-699L688,-702L685,-703L684,-701L684,-697L681,-692L676,-693L674,-696L672,-709L673,-714L671,-717L667,-717L665,-715L663,-716L658,-721L658,-716L656,-712L653,-712L656,-710L657,-706L661,-706L659,-702L657,-705L656,-695L654,-691L653,-689L651,-689L646,-686L643,-688L641,-686L639,-682L636,-680L633,-676L636,-676L638,-673L638,-666L642,-661L641,-653L639,-646L635,-639L631,-635L625,-638L625,-633L628,-628L632,-629L634,-631L638,-630L641,-626L643,-620L642,-605L639,-593L636,-591L635,-587L633,-580L632,-574L630,-568L628,-560L625,-555L620,-551L619,-549L616,-542L624,-539L623,-534L625,-531L629,-530L632,-527L632,-525L631,-522L627,-520L623,-520L622,-519L621,-511L619,-501L621,-497L624,-495L621,-491L614,-481L615,-475L615,-474L608,-474L606,-471L603,-471L597,-470L596,-469L597,-464L596,-461L594,-457L595,-454L596,-454L598,-450L598,-444L597,-438L597,-437L604,-435L609,-438L612,-439L621,-444L627,-446L631,-449L636,-450L643,-447L648,-444L650,-440L650,-436L653,-434L659,-428L663,-427L668,-432L668,-435L675,-432L680,-430L682,-434L687,-436L689,-438L690,-446L691,-449L691,-455L693,-465L692,-483L691,-485L692,-488L690,-493C690,-493,689,-498,687,-499L687,-504L687,-509L689,-517L692,-522L695,-525L693,-526L696,-530L698,-530L699,-527L700,-530L703,-532L708,-533L713,-530L713,-529L714,-526L718,-524L719,-526L718,-530L717,-530L715,-535L717,-539L719,-538L719,-540L715,-543L717,-545L718,-548L715,-549L720,-553L718,-556L721,-560L721,-564L723,-565L725,-562L724,-570L724,-572L727,-568L728,-573L734,-573L733,-576L735,-576L733,-578L736,-578L737,-579L734,-582L736,-582L738,-584L736,-585L738,-586L739,-588L737,-588L737,-591L741,-593L741,-595L737,-594L740,-597L739,-597L741,-599L743,-599L743,-604L741,-601L739,-602L742,-604L745,-607L743,-610L743,-614L740,-611L741,-618L742,-621L740,-630L738,-633L739,-635L739,-637L734,-641L733,-644L735,-647L732,-650L733,-652L730,-658L728,-663L725,-667L720,-673L717,-673L714,-676L713,-681L711,-691L710,-705L710,-711L710,-714L712,-724L713,-731L710,-727L704,-726L700,-728L696,-733L690,-736L686,-739z"
  }
  ];


  $('#grand_map_container').highcharts('Map', {
    title : {
      text : '点击区域查看详情',
      verticalAlign: 'bottom',
      y: -20
    },

    chart : {
      height: main_content_height,
      backgroundColor: 'transparent'
    },
    mapNavigation: {
      enabled: false,
      enableButtons: false
    },

    plotOptions: {
      series: {
        point: {
          events: {
            click: function () {
              $(this.modal).modal('show');
            }
          }
        }
      }
    },
    tooltip: {
      enabled: false
    },

    series : [{
      name: 'States and territories',
      type: "map",
      animation: {
        duration: 1000
      },
      borderColor: 'black',
      borderWidth: 1.0,
      showInLegend: false,
      enableMouseTracking: true,
      data: trips,
      color: Highcharts.getOptions().colors[2],
      states: {
        hover: {
          color: Highcharts.getOptions().colors[4]
        }
      },
      dataLabels: {
        enabled: true,
        format: '{point.name}',
        style: {
          "fontSize": "21px",
          "font-family": "Hiragino Sans GB",
          "color": "#000"
        }
      }

    }]
  },function (chart) { // on complete

        chart.renderer.image('/img/huang/1.png', 170, 200, 80, 80)
            .add();

    }
  );





});


</script>

<% end %>