<div class="sys-masthead">
  <a href="#" class="sys-masthead-logo">
    <%= image_tag "/img/huang/logo.png" %>
  </a>
</div>



<div class="tp-banner-container">
  <div class="tp-banner">
    <ul>
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="mainSlide">
        <!-- MAIN IMAGE -->
        <img src="/img/huang/japan_slide.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

        <div class="tp-caption revolution-ch1_c sft start"
        data-x="center"
        data-hoffset="0"
        data-y="230"
        data-speed="1500"
        data-start="500"
        data-easing="Back.easeInOut"
        data-endeasing="Power1.easeIn"
        data-endspeed="300">
        盛唐遗风全景日本8日亲子旅行
      </div>

      <!-- LAYER -->
      <div class="tp-caption revolution-ch2_c sft"
      data-x="center"
      data-hoffset="0"
      data-y="350"
      data-speed="1400"
      data-start="2000"
      data-easing="Power4.easeOut"
      data-endspeed="300"
      data-endeasing="Power1.easeIn"
      data-captionhidden="off"
      style="z-index: 6">
      东京 / 京都 / 箱根 / 大阪 <br/>
      いらっしゃいませ!
    </div>

    <!-- LAYER -->
        <!-- <div class="tp-caption sft"
        data-x="center"
        data-hoffset="0"
        data-y="310"
        data-speed="1600"
        data-start="2800"
        data-easing="Power4.easeOut"
        data-endspeed="300"
        data-endeasing="Power1.easeIn"
        data-captionhidden="off"
        style="z-index: 6">
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">点我电询</a>
        </div> -->
      </li>

    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>
<div style="width: 100%">
  <%= image_tag "huang/sample.gif", style: "width: 100%; margin: 10px 0 20px 0" %>
</div>
<div class="no-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 content-boxes-v3 content-boxes-v3-right">
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">A</span> 指路精准到米
          </p>
        </div>
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">A</span> 指路精准到米
          </p>
        </div>
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">A</span> 指路精准到米
          </p>
        </div>
      </div>

      <div class="col-xs-6 content-boxes-v3">
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">A</span> 指路精准到米
          </p>
        </div>
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">A</span> 指路精准到米
          </p>
        </div>
        <div class="clearfix margin-bottom-5">
          <p class="huang_heading">
            <span class="label rounded label-u">A</span> 指路精准到米
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container huang_features">
    <div class="row">
      <div class="col-xs-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <img class="img-responsive" src="unify/assets/img/main/img3.jpg" alt="" />
            </div>
            <a class="btn-more hover-effect" href="#">东京 Tyokyo</a>
          </div>
          <div class="caption">
            <h3><a class="hover-effect" href="#">遇见迪士尼</a></h3>
            <p>在亚洲第一梦幻乐园迪斯尼遇见米老鼠和唐老鸭</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <img class="img-responsive" src="unify/assets/img/main/img4.jpg" alt="" />
            </div>
            <a class="btn-more hover-effect" href="#">大阪 Osaka</a>
          </div>
          <div class="caption">
            <h3><a class="hover-effect" href="#">遇见迪士尼</a></h3>
            <p>在亚洲第一梦幻乐园迪斯尼遇见米老鼠和唐老鸭</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <img class="img-responsive" src="unify/assets/img/main/img4.jpg" alt="" />
            </div>
            <a class="btn-more hover-effect" href="#">大阪 Osaka</a>
          </div>
          <div class="caption">
            <h3><a class="hover-effect" href="#">遇见迪士尼</a></h3>
            <p>在亚洲第一梦幻乐园迪斯尼遇见米老鼠和唐老鸭</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <img class="img-responsive" src="unify/assets/img/main/img4.jpg" alt="" />
            </div>
            <a class="btn-more hover-effect" href="#">大阪 Osaka</a>
          </div>
          <div class="caption">
            <h3><a class="hover-effect" href="#">遇见迪士尼</a></h3>
            <p>在亚洲第一梦幻乐园迪斯尼遇见米老鼠和唐老鸭</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="headline"><h3>行程地图</h3></div>
  <%= image_tag "/img/huang/map.jpg", style: "width:100%" %>
</div>

<div id="itinery_slider" class="owl-carousel owl-theme">
  <div class="item" id="slide_day_1">
    <%= image_tag "huang/sample_day_slide.jpg" %>
  </div>
  <div class="item" id="slide_day_2">
    <%= image_tag "huang/sample_day_slide.jpg" %>
  </div>
  <div class="item" id="slide_day_3">
    <%= image_tag "huang/sample_day_slide.jpg" %>
  </div>
  <div class="item" id="slide_day_4">
    <%= image_tag "huang/sample_day_slide.jpg" %>
  </div>
  <div class="item" id="slide_day_5">
    <%= image_tag "huang/sample_day_slide.jpg" %>
  </div>
  <div class="item" id="slide_day_6">
    <%= image_tag "huang/sample_day_slide.jpg" %>
  </div>
</div>


<div class="container">
  <div class="tab-v1 huang_price">
    <ul class="nav nav-tabs" style="background-color: #eee; padding-top: 0px">
      <li class="active" >
        <a href="#home" data-toggle="tab" style="font-size: 16px;padding: 10px 20px 10px 20px;margin-left:60px">品质行程<br><em>2,999元/人起</em></a>
      </li>
      <li>
        <a href="#profile" data-toggle="tab" style="font-size: 16px;padding: 10px 20px 10px 20px">豪华行程<br><em>3,499元/人起</em></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="home">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-plane"></span><br>
                机票
              </td>
              <td class="price_info">
                出发口岸城市东京单程含税机票 (单程转机次数≤1次)大阪市原出发口岸城市单程含税机票 (单程转机次数≤1次)
                <br>
                * 直飞口岸城市：仅北京，若选其他口岸城市直飞，请自理到北京机票
              </td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-home"></span><br>
                酒店
              </td>
              <td>Jacob</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-flag"></span><br>
                光观
              </td>
              <td>Larry</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-user-following"></span><br>
                签证
              </td>
              <td>htmlstream</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-support"></span><br>
                保险
              </td>
              <td>htmlstream</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-feed"></span><br>
                装备
              </td>
              <td>htmlstream</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade in" id="profile">

        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-plane"></span><br>
                机票
              </td>
              <td class="price_info">
                出发fsffsfesgfesfsefefsfdfvsefe程转机次数≤1次)
                <br>
                * 直飞口岸城市：仅北京，若选其他口岸城市直飞，请自理到北京机票
              </td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-home"></span><br>
                酒店
              </td>
              <td>Jacob</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-flag"></span><br>
                光观
              </td>
              <td>Larry</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-user-following"></span><br>
                签证
              </td>
              <td>htmlstream</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-support"></span><br>
                保险
              </td>
              <td>htmlstream</td>
            </tr>
            <tr>
              <td class="price_symbol">
                <span aria-hidden="true" class="icon-feed"></span><br>
                装备
              </td>
              <td>htmlstream</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= month_calendar do |date| %>
    <%= date %>
  <% end %>
</div>

<div class="container">
  <div class="tag-box tag-box-v3 margin-bottom-20 telephone">
    <h2>产品: 浪漫日本本州6日</h2>
    <a href="tel:5551234567" class="btn-u btn-u-orange" type="button">电话咨询</a>
  </div>
</div>



<div class="panel-group acc-v1 huang_accordion" id="accordion-1">
  <h3 class="according_heading">预定须知</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
          产品须知
        </a>
      </h4>
    </div>
    <div id="collapse-One" class="panel-collapse collapse in">
      <div class="panel-body">
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
          预订须知
        </a>
      </h4>
    </div>
    <div id="collapse-Two" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
          汇款须知
        </a>
      </h4>
    </div>
    <div id="collapse-Three" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
          服务监督与交易担保
        </a>
      </h4>
    </div>
    <div id="collapse-Four" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ol>
      </div>
    </div>
  </div>
</div>



<% content_for :script do %>
<script>
  $(document).ready(function() {
 
    var owl = $("#itinery_slider");
    owl.owlCarousel({
   
      items : 10, //10 items above 1000px browser width
      itemsDesktop : [1000,8], //5 items between 1000px and 901px
      itemsDesktopSmall : [900,6], // betweem 900px and 601px
      itemsTablet: [600,4], //2 items between 600 and 0
      itemsMobile : 4, // itemsMobile disabled - inherit from itemsTablet option
      navigation: false,
      pagination: false

    });
 
    $('#slide_day_1').on('click', function(event){
      $('#modal_day_1').modal('show');
      
    });
 
  });
</script>
<% end %>
<% content_for :modals do %>
<div id="modal_day_1" class="modal fade modal_itinery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">第一天: 成都 - 日本</h4>
            </div>
            <div class="modal-body itinery_modal_body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel vehicula erat. Phasellus vestibulum leo eu mi tempor blandit. Suspendisse eget iaculis lectus. Donec vitae tempus enim, quis tristique magna. Donec lobortis, sem ac pretium viverra, leo nisl consequat arcu, sit amet ullamcorper nunc turpis ac erat. In rutrum auctor ligula, quis mattis enim lacinia eu. Aliquam at magna a erat laoreet iaculis quis a justo. Donec porttitor vulputate massa, nec suscipit nisi mollis sed.</p>
                <p>Praesent sit amet porttitor magna, auctor feugiat tellus. Sed venenatis tortor turpis, vel vestibulum eros pulvinar et. Pellentesque hendrerit diam quis dui euismod tincidunt. Sed sit amet mauris ipsum. Integer in magna tellus. In tincidunt mi quis nunc gravida sollicitudin. Aliquam ac dui eget erat consequat volutpat in eu magna.</p>
                <p>Sed feugiat bibendum leo consequat convallis. Donec facilisis, turpis a scelerisque venenatis, felis diam dictum tortor, vitae imperdiet tortor ligula eu lectus. Donec iaculis semper elementum. Nullam dapibus porttitor magna quis convallis. Morbi porttitor quam non magna ullamcorper rhoncus. Phasellus sit amet nunc at turpis pharetra luctus a a massa. Praesent luctus massa in odio faucibus eleifend.</p>
                <p>In eget lobortis leo, ut luctus odio. Mauris pharetra erat ac tellus hendrerit semper. Cras faucibus ipsum id ante hendrerit rutrum. Donec vitae ullamcorper arcu. Aliquam pellentesque faucibus placerat. Aliquam erat volutpat. In tincidunt metus sit amet ligula sagittis vehicula. Pellentesque velit quam, hendrerit a erat ac, fermentum tincidunt enim. Cras suscipit justo nec consectetur lacinia.</p>
                <p>Cras pellentesque urna a leo egestas, at ullamcorper augue suscipit. Nulla id lacinia magna, non iaculis est. Praesent a placerat augue, eget eleifend purus. Aenean dignissim, orci et rutrum facilisis, tellus massa porta nulla, quis hendrerit dui ipsum vitae urna. In mattis lectus dolor, id venenatis lectus pellentesque at. Suspendisse posuere metus vel bibendum dignissim. Fusce interdum magna id libero scelerisque suscipit. Duis orci augue, rhoncus eget pharetra ac, viverra nec magna. In accumsan nulla ac suscipit pellentesque. Nulla iaculis luctus tellus, at ultricies urna hendrerit a. Aenean vehicula sodales varius. Duis sodales hendrerit odio non sagittis.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-u btn-u-orange">上一天</button>
                <button type="button" class="btn-u btn-u-light-green" data-dismiss="modal">关闭</button>
                <button type="button" class="btn-u btn-u-orange">下一天</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>