<% content_for :stylesheets do %>
  <%= stylesheet_link_tag '/unify/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/unify/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<%= form_for [@route, @day], html: { multipart: true, class: "sky-form" } do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <section>
      <%= f.label :number, "天数（第几天）", class: "label" %>
      <label class="input">
        <%= f.number_field :number %>
      </label>
      <div class="note"><strong>注意:</strong> 天数必须是从1开始的正整数且不能与已有天数重复或跳天。如有此情况或导致客人浏览时发生错误且系统不会自动纠错。</div>
    </section>

    <section>
      <%= f.label :icon, "小图标", class: "label" %>
      <label for="file" class="input input-file">
        <div class="button"><%= f.file_field :icon, as: :file %>选择文件</div><input type="text" readonly="">
      </label>
    </section>
  
  </fieldset>

  <fieldset>
    <section>
      <%= f.label :modal_title, "当天行程标题", class: "label" %>
      <label class="input">
        <%= f.text_field :modal_title %>
      </label>
    </section>

    <section>
      <%= f.label :modal_content, "当天行程内容", class: "label" %>
      <label class="textarea">
        <%= f.text_area :modal_content, rows: 20 %>
      </label>
      <div class="note"><strong>注意:</strong> 填入html元素.</div>
    </section>
  
  </fieldset>

  <footer>
    <button type="submit" class="btn-u">提交</button>
    <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">Back</button>
  </footer>
<% end %>