<div class="container container-sm">
  <p id="notice"><%= notice %></p>

  <div class="tag-box tag-box-v3 margin-bottom-40">
    <h2>资源所在位置</h2>
    <p>团队: <%= @route.tour.name %></p>
    <p>线路: <%= @route.name %></p>
  </div>

  <div class="headline">
    <h2>每日详情列表</h2>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>第几天</th>
        <th>上一天</th>
        <th>下一天</th>
        <th>具体操作</th>
      </tr>
    </thead>

    <tbody>
      <% @days.each do |day| %>
        <tr>
          <td><%= day.number %></td>
          <td><%= day.previous_day.number unless day.previous_day.nil? %></td>
          <td><%= day.next_day.number unless day.next_day.nil? %></td>
          <td>
            <%= link_to '查看', day, class: "btn btn-success btn-xs" %>
            <%= link_to '修改', edit_day_path(day), class: "btn btn-warning btn-xs" %>
            <%= link_to '删除', day, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to '添加一天', new_route_day_path(@route) %> |
  <%= link_to '返回线路列表', tour_routes_path(@route.tour) %>
</div>