<% content_for :stylesheets do %>
  <%= stylesheet_link_tag '/unify/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/unify/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<%= form_for([@tour, @route], html: { class: "sky-form" }) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <section>
      <%= f.label :name, "名称", class: "label" %>
      <label class="input">
        <%= f.text_field :name %>
      </label>
    </section>

    <section>
      <%= f.label :descriptions, "幻灯图下方亮点", class: "label" %>
      <label class="textarea">
        <%= f.text_area :descriptions, rows: 20 %>
      </label>
      <div class="note"><strong>注意:</strong> 填入html元素.</div>
    </section>
  
  </fieldset>

  <footer>
    <button type="submit" class="btn-u">提交</button>
    <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">Back</button>
  </footer>

<% end %>
