<div class="container container-sm">
  <p id="notice"><%= notice %></p>

  <div class="tag-box tag-box-v3 margin-bottom-40">
    <h2>团队名称</h2>
    <p><%= @tour.name %></p>
  </div>

  <div class="headline">
    <h2>线路列表</h2>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>线路名称</th>
        <th>具体操作</th>
        <th>每日详情</th>
        <th>团旗和价格</th>
      </tr>
    </thead>

    <tbody>
      <% @tour.routes.each do |route| %>
        <tr>
          <td><%= route.name %></td>
          <td>
            <%= link_to '查看', route, class: "btn btn-success btn-xs" %>
            <%= link_to '修改', edit_route_path(route), class: "btn btn-warning btn-xs" %>
            <%= link_to '删除', route, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
          </td>
          <td><%= link_to '添加/修改', route_days_path(route) %></td>
          <td><%= link_to '添加/修改', route_departures_path(route) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to '添加新线路', new_tour_route_path(@tour) %> |
  <%= link_to '返回团队列表', tours_path %>
</div>