<p id="notice"><%= notice %></p>

<p>
  <strong>Tour:</strong>
  <%= @route.tour_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', tour_routes_path(@route.tour) %>
