<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <title><%= yield(:title) %></title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Web Fonts -->
  <!-- <link rel='stylesheet' type='text/css' href='http://fonts.useso.com/css?family=Roboto+Slab:400,300,700'> -->

  <%= stylesheet_link_tag    'shijiebang', media: 'all', 'data-turbolinks-track' => true %>

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.css" type="text/css" media="screen">
  <![endif]-->
  
  <%= yield :stylesheets %>
</head>
<body>
  <div class="wrapper">
    <%#= render "layouts/header" %>
    <%= yield %>
    <%#= render "layouts/footer" %>
  </div>

  <%# modals %>
  <%= yield :modals %>
  <!-- weixin -->
  <!-- <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
  <!-- JS files -->
  <%= javascript_include_tag 'shijiebang', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :script %>
  <!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
  <![endif]-->
</body>
</html>
